<div class= "trind-main-header">
  <div class= "trind-main-header-create-icon"><a href="#/create"><i class="fa fa-plus"></i></a></div>
  <div class= "trind-main-header-search-icon"><i class="fa fa-search"></i></div>
  <div class= "create-main-header-text"> Post </i></div>
</div>

    <div class= "home-drop-search-bar">
      <input type="text" placeholder="What's Trinding?" class = "expand" id= "home-drop-search-input-box">
    </div>
      <div class= "empty-box"></div>

        <div class = "create-input-field">
            <div class ="create-subtitle">  </div>
          <form ng-submit="submitTrind()" method="post">
          <div class= "user-creator-description-title">
                <!-- ng-model="testTrind.event.title" -->
                <input id = "i-want-to" type="text" placeholder=" I want to ..." class ="create-enter-title-input">
           </div>
            <div class= "user-creator-description-interests">
                <!-- ng-model="testTrind.event.interests" -->
              <input id = "create-your-interests" type="text"  placeholder=" Interests" class ="create-enter-interests-input">
            </div>

            <div class= "user-creator-description-name"></div>

            <div class = "user-creator-description">

              <!-- ng-model="testTrind.event.description" -->
              <textarea id = "create-description-field" class="user-creator-description-field"  placeholder=" Description" max-length="200" ></textarea>
              </div>
              <!--
            <div class "create-enable-gps-location">
              Enable Radius <input type="radio" name="enableGps">
              </div> -->

            <!-- <div class = "create-enter-location">
              <input type="text"  placeholder="Anywhere in particular?" class ="create-enter-location-input">
            </div> -->
            <!-- GOOGLEMAPS -->
            <!-- {{location}} -->

              <!-- <input ng-model="testTrind.event.location" id="create-map-input" class="controls" type="text" placeholder="Durham, NC"> -->

              <input id="create-map-input" class="controls" type="text" placeholder="Durham, NC">
              <div id="map-canvas"></div>
              <!-- GOOGLEMAPS -->
            <div class= "create-trind-submit-button">
              <button type="submit" class= "create-trind-submit-button-text">Trind</button>
            </div>
          </form>
        </div>

    <div class= "empty-box"></div>

<div class= "trind-main-footer">
  <div class= "trind-main-footer-me-icon"><a href="#/me"><i class="fa fa-user"></i></a></div>
  <div class= "trind-main-footer-trind-icon"><a href="#/home">T</a></div>
 <div class= "trind-main-footer-message-icon"><a href="#/messages"><div class= "dot-dot-dot">{{unseen}}</div><i class="fa fa-comment"></i></a></div>
