<div class= "trind-main-header">
  <div class= "trind-main-header-create-icon"><a href="#/create"><i class="fa fa-plus"></i></a></div>
  <div class= "trind-main-header-search-icon"><i class="fa fa-search"></i></div>
  <div class= "trind-main-header-image"><a href="#/me"><i class="fa fa-camera"></i></a></div>
</div>

    <div class= "home-drop-search-bar">
      <input type="text" placeholder="What's Trinding?" class = "expand" id= "home-drop-search-input-box">
    </div>
      <div class= "empty-box"></div>

        <div class = "create-input-field">
          <form ng-submit="submitTrind()" method="post">
            <div class= "user-creator-description-interests">
              <input type="text" ng-model="testTrind.event.interests" placeholder="Interests" class ="create-enter-interests-input">
            </div>
            <div class= "user-creator-description-title">
              <input type="text" ng-model="testTrind.event.title" placeholder="Short description" class ="create-enter-title-input">
            </div>
            <div class= "user-creator-description-name"></div>
            <div class = "user-creator-description">
              <input type="text" ng-model="testTrind.event.description" placeholder="Elaborate" class="user-creator-description-field">
              </div>
            <div class "create-enable-gps-location">
              Enable Radius <input type="radio" name="enableGps">
              </div>
            <div class = "create-enter-location">
              <input type="text" ng-model="testTrind.event.location" placeholder="Anywhere in particular?" class ="create-enter-location-input">
            </div>
            <!-- GOOGLEMAPS -->
              <input id="pac-input" class="controls" type="text" placeholder="Search Box" value="Durham, NC">
              <div id="map-canvas"></div>
              <!-- <button id="trigger-search">Trigger search</button> -->
              <!-- GOOGLEMAPS -->
            <div class= "create-trind-submit-button">
              <button type="submit" class= "create-trind-submit-button-text">Trind</button>
            </div>
          </form>

        </div>

    <div class= "empty-box"></div>

<div class= "trind-main-footer">
  <div class= "trind-main-footer-me-icon"><a href="#/me"><i class="fa fa-user"></i></a></div>
  <div class= "trind-main-footer-trind-icon"><a href="#/home">T</a></div>
  <div class= "trind-main-footer-message-icon"><a href="#/messages"><div class= "dot-dot-dot">...</div><i class="fa fa-comment"></i></a></div>
</div>
