<div class= "trind-main-header">
  <div class= "trind-main-header-create-icon"><a href="#/create"><i class="fa fa-plus"></i></a></div>
  <!-- <div class= "trind-main-header-search-icon"><i class="fa fa-search"></i></div> -->
</div>
<div class= "home-drop-search-bar">
  <input type="text" placeholder="What's Trinding?" class = "expand" id= "home-drop-search-input-box">
</div>


    <div class= "event-details-container">
            <img class="me-avatar" src="{{event.user.photo_url}}"</img>
            <div class= "details-text-wrapper">
              <div id="details-eventDetail-title">{{event.event.title}}</div>
              <div id="details-name">with {{event.user.name}}</div>
              <div id="details-eventDetail-interest"><strong>Interests:</strong> &nbsp{{event.event.interests}}</div>
              <div id="details-eventDetail-description"><strong>Description:</strong> &nbsp{{event.event.description}}</div>
              <div id="details-eventDetail-location"><strong>Location:</strong>&nbsp{{detailLocation}}</div>
            </div>
            <div class="details-button-container">
            <input type="button" value="Message Now" id= "details-message-button"  ng-controller="DetailsController" ng-click="messageNow()">
            <input type="button" value="Stash" id= "details-interested-button"  ng-controller="DetailsController" ng-click="stash(event.event.id)">
            </div>
    </div>



    <section id="wrapper">
              <article>
      <!-- +++GOOGLE MAPS DISPLAYS HERE+++ -->
              </article>
    </section>


<div class= "trind-main-footer">
  <div class= "trind-main-footer-me-icon"><a href="#/me"><i class="fa fa-user"></i></a></div>
  <div class= "trind-main-footer-trind-icon"><a href="#/home">T</a></div>
  <div class= "trind-main-footer-message-icon"><a href="#/messages"><div class= "dot-dot-dot">...</div><i class="fa fa-comment"></i></a></div>
</div>
<!--  -->
