<div class= "trind-main-header">
  <div class= "memories-header-icons" id= "memories-back-button"><a href="#/userEvents"><i class="fa fa-arrow-left"></i></a></div>
  <div class= "trind-main-header-text-edit-event">Edit</div>
  <!-- <div class= "me-main-header-edit-icon"><i class="fa fa-pencil"></i></div> -->

</div>

<div class="edit-event-container" >

    <div class="edit-fields-wrap" ng-controller"UserEventsController">
        <div class = "edit-event-inputs" id="edit-event-interests"><input type="text" value="" class="editFields edit-interests" ng-model='interests'></input></div>
        <div class = "edit-event-inputs" id="edit-event-title"><input type="text" placeholder="short description" class="editFields  edit-title"ng-model='title'></input> </div>
        <div class = "edit-event-inputs" id="edit-event-description"><input type="text" placeholder="elaborate" class="editFields  edit-description" ng-model='description'></input></div>
        <div class = "edit-event-inputs" id="edit-event-location"><input type="text" placeholder="location" class="editFields  edit-location"ng-model='location'></input> </div>

        <div class="edit-event-save-delete-wrap">
          <button class="edit-event-button-save" ng-click="editEventInfo()">Save</button>
          <button class="edit-event-button-delete" ng-click="deleteEvent()">Delete</button>
        </div>
    </div>
</div>



<!-- {{data}} -->


<div class= "trind-main-footer">
  <div class= "trind-main-footer-me-icon"><a href="#/me"><i class="fa fa-user"></i></a></div>
  <div class= "trind-main-footer-trind-icon"><a href="#/home">T</a></div>
  <div class= "trind-main-footer-message-icon"><a href="#/messages"><div class= "dot-dot-dot">...</div><i class="fa fa-comment"></i></a></div>



</div>
