<div class= "trind-main-header">
  <div class= "trind-main-header-create-icon"><a href="#/me"><i class="fa fa-arrow-left"></i></a></div>
  <!-- <div class= "me-main-header-edit-icon"><i class="fa fa-pencil"></i></div> -->
  <div class= "editUser-main-header-edit">Edit Profile</div>
</div>

<div class="me-container" >

    <img class="me-avatar" src="{{editUserImage}}">  </img>
    <div class="upload-photo">
        <div class="upload-me-title">Upload Photo</div>
        <i id="photo-upload-selector" class="fa fa-camera"></i>
    <input id='file-input' name='file' type='file' ngf-select ng-model='file' ngf-pattern="'image/*'" ngf-capture="'other'" accept="image/*" ngf-max-size="20MB" ngf-min-height="100" value = "upload image">

    </div>
    <!-- <div id="me-photo-upload"><input type="file" ng-file-model="image" name="image" /></input></div> -->
    <div class = "edit-field-">

    <div id="me-name"><input type="text" class="editFields edit-user-user-name" ng-model='userName'></input></div>
    <div id="me-email"><input type="text" class="editFields  edit-user-user-email" ng-model='userEmail'></input></div>
    <!-- <div id="me-interests"><input type="text" class="editFields  edit-user-user-interests"ng-model='userInterests'></input> </div>
    <div id="me-summary"><input type="body" class="editFields  edit-user-user-summary" ng-model='userSummary'></input></div> -->

    <div class="me-things">
      <button class="user-edit-button" ng-click="editUserInfo(file)">Save</button>
      <button class="user-delete-button" ng-click="deleteUser()">Remove Account</button>
    </div>
</div>


  <div id= "image-uploaded-modal">
    <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
  </div>
<!-- <div class="upload-photo">
    <div class="upload-me-title">Upload Photo</div>
<input id='file-input' name='file' type='file' ngf-select ng-model='file' ngf-pattern="'image/*'" ngf-capture="'other'" accept="image/*" ngf-max-size="20MB" ngf-min-height="100" value = "upload image">
</div> -->


<!-- {{data}} -->
