
<div class= "trind-main-header">
  <div class= "trind-main-header-create-icon"><a href="#/create"><i class="fa fa-plus"></i></a></div>
  <div class= "trind-main-header-search-icon"><i class="fa fa-search"></i></div>
  <div class= "trind-main-header-text">trinding</div>
</div>

  <div class= "home-drop-search-bar">
    <input type="text" placeholder="See What's Trinding" class = "expand" id= "home-drop-search-input-box" ng-model="search">
  </div>

  <div class="home-events-display-wrap">
  <div class= "home-events-display">

    <div class= "home-trind-event-container" ng-repeat="things in stuff" >
      <div ng-repeat= "thing in things | limitTo:60 | filter:search">
        <div class= "home-trind-event-information-container" id="event-dilb">
        <div class= "home-trind-event-information-image" id="event-dilb" ng-click="details(thing.id)"><img src="{{thing.user.photo_url}}" height="200" width="200"></div>
          <div class= "home-trind-event-information" id= "interests"> {{thing.interests}} </div>
          <div class= "home-trind-event-information" id= "description"> {{thing.description}} </div>
          <div class= "home-trind-event-information" id= "location"> {{thing.location}} </div>

        </div>
        </div>
    </div>
  </div>
</div>




<div class= "trind-main-footer">
  <div class= "trind-main-footer-me-icon"><a href="#/me"><i class="fa fa-user"></i></a></div>
  <div class= "trind-main-footer-trind-icon"><a href="#/home">T</a></div>
  <div class= "trind-main-footer-message-icon"><a href="#/messages"><div class= "dot-dot-dot">...</div><i class="fa fa-comment"></i></a></div>

</div>


<!-- <input type="button" ng-click="details($index)"> -->
