
<div>
    <div class="landing-container">

            <div class="landing-jumbotron">
                <div class="landing-title"> TRIND</div>
                    <h3 class="landing-subtitle"> Making Social Networks Social Again </h3>

                    <div class="landing-call-container">
                        <div
                                  class="fb-like"
                                  data-share="true"
                                  data-width="450"
                                  data-show-faces="true">
                        </div>
                        <div class="landing-signup-container">
                            <div id="landing-sign-up"> <a href="" ng-click="showmodal=true"> Sign Up for Free </a> </div>
                            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                            </fb:login-button>

                            <div id="status">
                            </div>                       


                            <div id="signup-modal" class="signup-form" ng-show="showmodal">
                                <div class="modal-close"> <a href="" ng-click="showmodal=false">X </a></div>
                                    <form ng-submit="submitSignup()" method="post">
                                        <div class="form-column">
                                          <label for="first-name">Name</label>
                                          <input type="text" id="signup-name" placeholder="True" ng-model="newAccount.user.name" />
                                          <label for="email-address">Email Address</label>
                                          <input type="text" id="email-address" name="email-address" placeholder="friends@trind.com" ng-model="newAccount.user.email"/>
                                          <label for="new-password">Password</label>
                                          <input type="text" id="new-password" name="new-password" placeholder="******" ng-model="newAccount.user.password"/>
                                          <label for="confirm-password"> Confirm Password</label>
                                          <input type="text" id="confirm-password" name="confirm-password" placeholder="******" ng-model="newAccount.user.password_confirmation"/>
                                          <br>
                                        <button id="signup-now"> Create Account </button>
                                    </form>
                                        <br> <h3> OR </h3> <br>
                                        <button id="signup-facebook"> <a href="#"> Sign Up with Facebook </a> </button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    <!-- This closes the second modal container -->

                <div class="landing-call-container">
                    <div class="landing-login-container">
                      <form ng-submit="submitLogin()" method="post">

                        <div id="landing-log-in"> <a href="" ng-click="showme=true"> Log In </a></div>

                            <div id="login-modal" class="login-modal" ng-show="showme">
                            <div class="modal-container">
                            <div class="modal-close">  <a href="" ng-click="showme=false"> X </a></div>

                            <div class="modal-column">
                            <label class="label-landing-email"> Email </label>
                            <input type="text" class="landing-email" ng-model="landPage.email" />

                            <label type="text" class="label-landing-password" > Password </label>
                            <input type="text" class="landing-password" ng-model="landPage.password">
                            <br>
                            <button class="login-button"> Log In </button>
                            </div>

                            </div>
                            </div>
                          </form>
                    </div>
                             <!-- This ends the button container -->
                </div>



                </div>
                        <!-- This end the Jumbotron  -->
            </div>
        <!-- This closes the container -->
