
<div class= "trind-main-header">
  <div class= "memories-header-icons" id= "memories-back-button"><a href="#/me"><i class="fa fa-arrow-left"></i></a></div>
  <div class= "memories-header-icons" id= "memories-header-text">Memories</div>
</div>

<div class= "home-drop-search-bar">
  <input type="text" placeholder="What's Trinding?" class = "expand" id= "home-drop-search-input-box">
</div>

<div class= "memories-container" ng-controller= "MemoriesController" ng-repeat= "memory in yourMemories">
  <div class= "home-events-display">
    <div class= "home-trind-event-information-container" id="event-dilb">
      <div class= "home-trind-event-information-image" id="event-dilb" ng-click="details($index)"><img src="{{memory.photo_url}}" height="200" width="200"></div>
        <div class= "home-trind-event-information" id= "memories-name">{{memory.name}}</div>
          <div class= "home-trind-event-information" id= "interests">{{memory.interests}}</div>
            <div ng-controller= 'MemoriesController'>
              <i ng-click="likeClick()"class="fa fa-thumbs-up" id="#reliabilty-rating-button"></i>
              <a ng-init="liked='Like'; likeCount=0">{{liked}} +{{likeCount}}</a>
            </div>
      <div class= "home-trind-event-information" id= "location">{{memory.location}}</div>
    </div>
  </div>
</div>

<div class= "trind-main-footer">
  <div class= "trind-main-footer-me-icon"><a href="#/me"><i class="fa fa-user"></i></a></div>
  <div class= "trind-main-footer-trind-icon"><a href="#/home">T</a></div>
  <div class= "trind-main-footer-message-icon"><a href="#/messages"><i class="fa fa-comment"></i></a></div>



</div>
