
<div class= "trind-main-header">
  <div class= "trind-main-header-create-icon"><a href="#/create"><i class="fa fa-plus"></a></i></div>
  <div class= "trind-main-header-search-icon"><i class="fa fa-search"></i></div>
  <div class= "trind-main-header-image"><a href="#/me"><i class="fa fa-camera"></i></a></div>
</div>

<div class= "home-drop-search-bar">
  <input type="text" placeholder="What's Trinding?" class = "expand" id= "home-drop-search-input-box">
</div>

<div class="open-messages-container" ng-repeat="conversations in messages">
      <div ng-repeat= "thing in things | limitTo:60 | filter:search">
          <div class="conversation-information-container">
        <div class= "conversation-image" id="event-dilb" ng-click="message($index)">
            <img src="{{thing.user.photo_url}}" height="200" width="200">
        </div>
          <div class= "conversation-user" id= "interests"> {{conversation.user}} </div>
          <div class= "conversation-details" id= "description"> {{conversation.message}} </div>
          <div class= "conversation-time-stamp" id= "location"> {{conversation.time}} </div>
        </div>
        </div>
    </div>




</div>

<!-- {{data}} -->


<div class= "trind-main-footer">
  <div class= "trind-main-footer-me-icon"><a href="#/me"><i class="fa fa-user"></i></a></div>
  <div class= "trind-main-footer-trind-icon"><a href="#/home">T</a></div>
  <div class= "trind-main-footer-message-icon"><a href="#/messages"><i class="fa fa-comment"></i></a></div>



</div>
