<!-- <link rel-"stylesheet" href="assets/css/message.css"> -->

<div class= "trind-main-header">
  <div class= "trind-main-header-create-icon"><a href="#/messages"><i class="fa fa-chevron-left"></i></a></div>
  <div class= "message-main-header-name">{{otherUserName}}</div>
  <form ng-controller="MessageController">
    <button id = "meet-button" ng-class="buttonOrNo()" ng-click="letsMeet()" > Meet Up!</button>
  </form>
</div>

<div class= "conversation-wrap">
    <div class="chat-container">
      <div class="panel-body">
        <div class="chat-column">
          <div class="chat-body">
              <div ng-repeat="messages in chat.messages">
                <div ng-class="whoAmI(messages.author)">{{messages.body}}</div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class= "trind-main-footer">
    <div class="message-footer">
      <form ng-controller="MessageController">
        <div class="input-group">
          <input class="message-input" id="chatter" ng-keyup="$event.keyCode == 13 && postMessage()" type="text" name="chatter" placeholder="Start message here... "class="form-control chatter" />
        </div>
    </div>
  <!-- <button id = "meet-button" ng-class="buttonOrNo()" ng-click="letsMeet()"> Let's Meet Up!</button> -->
  <!-- <div class= "trind-main-footer-trind-icon" id = "message-t-footer-icon"> <a href="#/home">T</a></div> -->
  <!-- <span class="input-group-btn"> -->
    <button id="send-button" type="submit" ng-click="postMessage()">Ok</button>
  <!-- </span> -->
  </form>

</div>
