.landing-login-wrap {
  margin-left: .5em;
  width: 90%; }

.login-page-container {
  height: 100%;
  width: 100%;
  background-color: #a4dbd8; }
  .login-page-container .login-page-main-font {
    font-size: 160px;
    font-family: 'Sniglet', cursive;
    color: white;
    margin-left: 18%;
    padding-top: .6em;
    padding-bottom: .6em; }
  .login-page-container .land-call-to-action {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: 0em; }
  .login-page-container .landing-login-container {
    margin-left: 5.5em; }
  .login-page-container .label {
    margin-left: 100px; }
  .login-page-container .input-email {
    width: 100%;
    height: 150px;
    font-size: 38px;
    text-align: center;
    border-radius: .5em .5em 0em 0em;
    margin-top: 4em;
    border-bottom: 1px solid grey;
    color: black; }
  .login-page-container input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset; }
  .login-page-container .input-password {
    width: 100%;
    height: 150px;
    font-size: 38px;
    text-align: center;
    border-radius: 0em 0em .5em .5em;
    border-top: 1px solid #a4dbd8;
    color: black; }
  .login-page-container .login-button {
    margin-left: 0%;
    color: grey;
    font-size: 40px;
    margin-top: 3em;
    width: 100%;
    height: 90px;
    border-radius: .5em .5em .5em .5em;
    background-color: white;
    border: none; }
  .login-page-container .havent-created-an-account-yet {
    color: grey;
    font-size: 34px;
    margin-top: 2em;
    margin-left: 30%;
    font-family: 'Open Sans', sans-serif; }
  .login-page-container .land-input-container {
    position: relative; }
  .login-page-container .unit {
    font-size: 34px;
    display: block;
    margin-top: -82px;
    margin-left: 18px;
    font-family: 'Open Sans', sans-serif; }
  .login-page-container .create-account {
    margin-top: 1em;
    color: black;
    margin-left: 14.5%;
    font-size: 56px;
    font-family: 'Open Sans', sans-serif; }

.landing-signup-container {
  position: absolute;
  z-index: 100;
  border-radius: 1em;
  background-color: #ff6d5e;
  height: 80em;
  width: 82%;
  top: 340px; }
  .landing-signup-container .btn-signup-close {
    height: 80px;
    width: 80px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 40px;
    border-radius: .5em;
    font-family: 'Open Sans', sans-serif;
    border: none;
    background-color: #ff6d5e; }
  .landing-signup-container .sign-up-modal-input {
    width: 90%;
    height: 140px;
    font-size: 40px;
    text-align: center;
    border-radius: .5em .5em .5em .5em;
    margin-top: 1.2em;
    margin-left: 1em;
    border-bottom: 1px solid grey;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    opacity: 0.85; }
  .landing-signup-container .modal-perm-input-text {
    font-size: 36px;
    display: block;
    margin-top: -90px;
    margin-left: 70px;
    z-index: 120;
    position: absolute;
    opacity: .95; }
  .landing-signup-container .form-column {
    margin-top: 6em; }
  .landing-signup-container .sign-up-pressure {
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    margin-left: 3.5em;
    margin-top: 2.5em;
    color: white; }
  .landing-signup-container #signup-now {
    height: 120px;
    width: 90%;
    margin-left: 1.2em;
    border-radius: 12px;
    position: absolute;
    bottom: 1em;
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    background-color: white; }

.conversation-wrap {
  height: 100%;
  margin-top: 0px; }

.message-main-header-name {
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  left: 18%;
  font-family: 'Open Sans', sans-serif; }

.message-footer {
  width: 100%;
  position: absolute;
  z-index: 60;
  bottom: 120;
  box-sizing: border-box; }

.chat-users {
  border: 1px solid #999;
  padding: 1em;
  font-size: 3em; }

.chat-body {
  font-size: 2.5em; }

#YOU {
  width: 10%; }

#THEY {
  float: right; }

.message-in {
  width: 80%;
  float: left;
  text-align: left;
  background-color: #ff6d5e;
  padding: .5em;
  margin: .8em;
  border-radius: .5em;
  font-size: 1.2em; }

.message-out {
  width: 80%;
  text-align: right;
  float: right;
  background-color: #a4dbd8;
  padding: .5em;
  margin: .8em;
  border-radius: .5em;
  font-size: 1.2em; }

input {
  width: 78%;
  height: 100px;
  font-size: 2.5em;
  border: 2px solid #999;
  border-radius: 3px; }

.btn-submit {
  font-size: 2.3em;
  width: 22%;
  height: 100px;
  border: 2px solid #555;
  border-radius: 10px;
  position: absolute;
  background-color: blue; }

.trind-main-footer {
  height: 120px; }

.open-messages-container {
  width: 100%;
  font-size: 3em;
  margin-top: 100px; }

.trind-main-header-title {
  color: #ff6d5e;
  font-size: 4em;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  padding-top: .5em;
  font-family: 'Sniglet', cursive; }

.conversation-information-container {
  border: 1px solid #555; }
  .conversation-information-container .conversation-sender {
    width: 40%;
    margin-top: -150px;
    float: right;
    text-align: right;
    padding-right: 1em;
    color: #ff6d5e; }
  .conversation-information-container .conversation-last-message {
    float: right;
    margin-top: -100px;
    font-size: .8em;
    padding-right: 1em; }

.create-input-field {
  height: 85%;
  width: 99%;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em; }
  .create-input-field input {
    width: 95%;
    margin: .2em;
    font-size: 2.5em; }
  .create-input-field textarea {
    width: 95%;
    height: 20%;
    margin: .2em;
    font-size: 2.5em;
    border: 1px solid #555; }
  .create-input-field button {
    text-align: center;
    margin-left: 10%; }
  .create-input-field .create-trind-submit-button-text {
    border: none;
    height: 100px;
    width: 80%;
    font-size: 40px;
    color: white;
    background-color: #ff6d5e;
    font-family: 'Sniglet', cursive;
    bottom: 6em;
    border-radius: 1em;
    cursor: pointer;
    position: absolute; }

.trind-main-header-text {
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  left: 21%;
  color: #ff6d5e;
  font-family: 'Sniglet', cursive; }

.home-events-display-wrap .home-events-display {
  position: relative;
  box-sizing: border-box;
  margin-top: 120px;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif; }
  .home-events-display-wrap .home-events-display .home-trind-event-information-image {
    background-color: #eaeaea;
    height: 280px;
    width: 280px;
    float: left; }
  .home-events-display-wrap .home-events-display .home-trind-event-container {
    height: 280px;
    width: 100%;
    background-color: white; }
  .home-events-display-wrap .home-events-display #event-dilb {
    display: inline-block; }
  .home-events-display-wrap .home-events-display .home-trind-event-information-container {
    width: 100%;
    border: 1px solid rgba(171, 178, 186, 0.5); }
  .home-events-display-wrap .home-events-display .home-trind-event-information {
    background-color: white; }
  .home-events-display-wrap .home-events-display #event-information-name {
    background-color: grey;
    color: black;
    font-size: 40px;
    padding-top: 10px; }
  .home-events-display-wrap .home-events-display #interests {
    font-size: 40px;
    padding-bottom: 15px;
    color: #ff6d5e;
    vertical-align: top; }
  .home-events-display-wrap .home-events-display #description {
    margin-top: 10px;
    height: 80px;
    font-size: 30px;
    padding-bottom: 15px; }
  .home-events-display-wrap .home-events-display #location {
    height: 20px;
    font-size: 30px;
    vertical-align: bottom; }

.getting-started-background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 130;
  background-color: black;
  opacity: 0.4;
  top: 0; }

.home-modal-welcome {
  font-size: 90px;
  font-family: 'Sniglet', cursive;
  text-align: center;
  color: white;
  margin-top: .6em; }

.getting-started-modal {
  height: 65%;
  width: 85%;
  background-color: #a4dbd8;
  position: fixed;
  top: 20em;
  z-index: 145;
  border-radius: 3em;
  right: 4.5em; }

.getting-started-content {
  font-size: 50px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-left: 1.5em;
  margin-top: 1.5em; }

.home-modal-icon {
  position: relative;
  float: right;
  right: 2em;
  font-size: 60px; }

.trind-land-modal-icon {
  color: #ff6d5e;
  position: relative;
  float: right;
  font-size: 90px;
  right: 1.2em;
  font-family: 'Sniglet', cursive;
  transform: rotate(-45deg);
  margin-top: -15px; }

#getting-started {
  font-size: 75px;
  font-family: 'Sniglet', cursive;
  text-align: center;
  margin-top: .8em;
  position: relative;
  color: #ff6d5e;
  border-radius: 0em 0em .6em .6em;
  height: 2.4em;
  vertical-align: middle;
  bottom: 0; }

#start {
  margin-top: 2em; }

.event-details-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  position: relative;
  z-index: 1;
  font-family: 'Open Sans', sans-serif; }
  .event-details-container .me-avatar {
    width: 500px;
    height: 500px;
    margin-left: 25%;
    margin-top: 20px;
    text-align: center;
    border: 2px solid #a4dbd8; }
  .event-details-container .details-text-wrapper {
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 2em; }
  .event-details-container #details-name {
    margin-top: 10px;
    color: rgba(255, 109, 94, 0.8);
    margin-top: 10px;
    color: rgba(255, 109, 94, 0.8);
    margin-left: 40px;
    font-size: 1em;
    text-align: center;
    font-style: italic; }
  .event-details-container #details-eventDetail-title {
    font-size: 2em;
    text-align: center; }
  .event-details-container .details-button-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center; }
  .event-details-container #details-interested-button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #a4dbd8;
    border-radius: .3em;
    height: 65px;
    margin-top: 30px;
    color: white;
    font-size: 3em; }
  .event-details-container #details-message-button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #a4dbd8;
    border-radius: .3em;
    height: 65px;
    margin-top: 30px;
    color: white;
    font-size: 3em; }
  .event-details-container #details-eventDetail-title {
    margin-top: 40px;
    margin-left: 40px; }
  .event-details-container #details-eventDetail-interest {
    margin-top: 40px;
    margin-left: 40px; }
  .event-details-container #details-eventDetail-description {
    margin-top: 40px;
    margin-left: 40px; }
  .event-details-container #details-eventDetail-location {
    margin-top: 40px;
    margin-left: 40px; }

#mapcontainer {
  margin-left: 12em;
  margin-top: 6em; }

.memories-header-icons {
  display: inline-block; }

#memories-header-text {
  color: #ff6d5e;
  position: relative;
  float: left;
  top: 20px;
  font-size: 70px;
  left: 15%;
  font-family: 'Sniglet', cursive; }

#memories-back-button {
  color: white;
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  margin-left: 20px; }

.memories-container-wrap {
  margin-top: 120px;
  position: absolute;
  height: 100%;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif; }
  .memories-container-wrap #mem-dilb {
    display: inline-block; }
  .memories-container-wrap .fa-thumbs-up {
    color: #ff6d5e;
    padding-left: 1em;
    margin-right: 1em; }

.memories-trind-event-information-container {
  height: 300px;
  font-size: 25px; }

.memory-text-container {
  font-size: 40px;
  display: inline-block;
  border: 1px solid grey;
  width: 678px;
  box-sizing: border-box;
  vertical-align: top;
  height: 100%;
  float: right; }

#stashed-image {
  float: left; }

#stashed-interests {
  color: #ff6d5e; }

#stashed-description {
  height: 80px; }

.trind-main-header-text-edit-event {
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  left: 30%;
  color: #ff6d5e;
  font-family: 'Sniglet', cursive; }

.edit-event-container {
  margin-top: 120px;
  margin-left: 100px;
  height: 100%;
  width: 100%;
  display: relative; }

.edit-fields-wrap {
  margin-top: 12em; }

.edit-event-inputs {
  margin-top: 4em; }

#edit-event-title input {
  height: 200px;
  width: 100%;
  font-size: 50px;
  border: 4px solid red; }

#edit-event-interests input {
  height: 100px;
  width: 100%;
  font-size: 50px;
  border: 4px solid red; }

#edit-event-description input {
  height: 500px;
  width: 100%;
  font-size: 50px;
  border: 4px solid red; }

#edit-event-location input {
  height: 100px;
  width: 100%;
  font-size: 50px;
  border: 4px solid red; }

.edit-event-save-delete-wrap {
  margin-left: 9em;
  width: 100%;
  margin-top: 4em; }
  .edit-event-save-delete-wrap .edit-event-button-save {
    width: 300px;
    height: 100px;
    font-size: 50px; }
  .edit-event-save-delete-wrap .edit-event-button-delete {
    width: 300px;
    height: 100px;
    font-size: 50px;
    margin-left: 2em; }

.edit-input-title {
  margin-top: 2em;
  font-size: 35px;
  vertical-align: bottom;
  font-family: 'Open Sans', sans-serif; }

.editUser-main-header-edit {
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  left: 13%;
  color: #ff6d5e;
  font-family: 'Sniglet', cursive; }

.editFields {
  font-size: 50px;
  width: 80%;
  text-align: center;
  margin-left: 0em; }

.user-edit-button {
  width: 300px;
  height: 100px;
  font-size: 30px;
  margin-top: 2em;
  border: 1px solid #555; }

.user-delete-button {
  width: 300px;
  height: 100px;
  font-size: 30px;
  margin-top: 1em;
  border: 1px solid #555;
  background-color: red; }

#file-input {
  height: 200px;
  margin-left: 3em; }

.upload-me-title {
  text-align: center;
  font-size: 3em; }

#file-input {
  text-align: center;
  padding: 2em; }

.user-events-page-container {
  width: 100%;
  height: 100%;
  margin-top: 120px; }
  .user-events-page-container .user-events-display {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    font-family: 'Open Sans', sans-serif;
    border: 10px solid grey; }
  .user-events-page-container .home-trind-event-information-image {
    background-color: #eaeaea;
    height: 200px;
    width: 200px;
    float: left; }
  .user-events-page-container .home-trind-event-information-container {
    height: 200px;
    width: 100%;
    background-color: white;
    font-size: 40px; }
  .user-events-page-container #event-dilb {
    display: inline-block; }
  .user-events-page-container #title {
    color: #ff6d5e; }

a {
  color: inherit;
  text-decoration: none; }

.trind-main-header {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: white;
  background-color: #a4dbd8; }
  .trind-main-header .trind-main-header-create-icon {
    position: relative;
    float: left;
    top: 25px;
    font-size: 80px;
    margin-left: 30px; }
  .trind-main-header .trind-main-header-image {
    position: relative;
    float: left;
    top: 25px;
    font-size: 80px;
    left: 36%; }
  .trind-main-header .trind-main-header-search-icon {
    position: relative;
    float: right;
    top: 25px;
    font-size: 80px;
    margin-right: 30px;
    cursor: inherit; }

#home-drop-search-input-box {
  position: fixed;
  height: 50px;
  width: 100%;
  font-size: 24px;
  color: gray;
  text-align: center;
  z-index: 90; }

.trind-main-footer {
  height: 120px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #a4dbd8;
  z-index: 100; }
  .trind-main-footer .trind-main-footer-me-icon {
    position: relative;
    float: left;
    top: 25px;
    font-size: 80px;
    left: 30px; }
  .trind-main-footer .trind-main-footer-trind-icon {
    color: #ff6d5e;
    position: relative;
    float: left;
    top: 5px;
    font-size: 130px;
    left: 38.5%;
    font-family: 'Sniglet', cursive;
    transform: rotate(-45deg); }
  .trind-main-footer .dot-dot-dot {
    color: rgba(255, 109, 94, 0.6);
    z-index: 10;
    position: absolute;
    top: -6px;
    right: 19px;
    font-size: 60px; }
  .trind-main-footer .trind-main-footer-message-icon {
    position: relative;
    float: right;
    top: 20px;
    font-size: 80px;
    right: 30px; }

/*# sourceMappingURL=app.css.map */
