.login-page-container {
  height: 100%;
  width: 100%;
  background-color: #a4dbd8; }
  .login-page-container .login-page-main-font {
    font-size: 160px;
    font-family: 'Sniglet', cursive;
    color: white;
    margin-left: 15%; }
  .login-page-container .label {
    margin-left: 100px; }
  .login-page-container .input-email {
    border-radius: 4px; }
  .login-page-container .input-password {
    border-radius: 4px; }

.chat-container {
  margin-top: 120px;
  height: 555px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #555;
  border-radius: 3px;
  font-family: helvetica, sans-serif; }

.message-footer {
  border: 2px solid #555;
  font-size: 2em;
  margin-top: 5px;
  border-radius: 3px; }

.chat-users {
  border: 1px solid black;
  padding: 1em;
  font-size: 3em; }

.chat-body {
  font-size: 2.5em; }

#THEY {
  float: right; }

#YM {
  float: left; }

#IM {
  color: green;
  float: right; }

input {
  width: 60%;
  font-size: 2.5em; }

.btn-submit {
  font-size: 1em;
  padding: .2em; }

.open-messages-container {
  width: 100%;
  font-size: 3em;
  margin-top: 100px; }

.trind-main-header-title {
  color: #ff6d5e;
  font-size: 4em;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  padding-top: .5em;
  font-family: 'Sniglet', cursive; }

.conversation-information-container {
  border: 1px solid #555; }
  .conversation-information-container .conversation-sender {
    width: 40%;
    margin-top: -150px;
    float: right;
    text-align: right;
    padding-right: 1em; }

.mutate-interests {
  color: red; }

.create-input-field {
  height: 200px;
  margin-top: 120px; }
  .create-input-field .create-enter-interests-input {
    width: 100%;
    height: 60px;
    font-size: 35px;
    position: relative; }
  .create-input-field .user-creator-description {
    padding-top: 1em; }
  .create-input-field .user-creator-description {
    font-size: 35px;
    height: 60px;
    position: relative; }
  .create-input-field .user-creator-description-field {
    padding-bottom: 80px;
    width: 100%;
    height: 60px;
    font-size: 35px;
    position: relative; }
  .create-input-field .create-enter-location-input {
    width: 100%;
    height: 60px;
    font-size: 35px; }
  .create-input-field .create-trind-submit-button-text {
    border: none;
    height: 50px;
    width: 100%;
    font-size: 40px;
    color: white;
    background-color: #ff6d5e;
    font-family: 'Sniglet', cursive;
    bottom: 6em;
    border-radius: 1em;
    cursor: pointer;
    position: absolute; }

.trind-main-header-text {
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  left: 21%;
  color: #ff6d5e;
  font-family: 'Sniglet', cursive; }

.home-events-display-wrap .home-events-display {
  position: relative;
  box-sizing: border-box;
  margin-top: 120px;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif; }
  .home-events-display-wrap .home-events-display .home-trind-event-information-image {
    background-color: #eaeaea;
    height: 200px;
    width: 200px;
    float: left; }
  .home-events-display-wrap .home-events-display .home-trind-event-container {
    height: 200px;
    width: 100%;
    background-color: white;
    border: 1px solid black; }
  .home-events-display-wrap .home-events-display #event-dilb {
    display: inline-block; }
  .home-events-display-wrap .home-events-display .home-trind-event-information-container {
    width: 100%;
    border: 1px solid rgba(171, 178, 186, 0.5); }
  .home-events-display-wrap .home-events-display .home-trind-event-information {
    background-color: white; }
  .home-events-display-wrap .home-events-display #interests {
    font-size: 40px;
    padding-bottom: 15px;
    height: 40px;
    color: #ff6d5e; }
  .home-events-display-wrap .home-events-display #description {
    height: 80px;
    font-size: 30px;
    padding-bottom: 15px; }
  .home-events-display-wrap .home-events-display #location {
    height: 20px;
    font-size: 30px; }

.event-details-container {
  font-size: 60px;
  margin-top: 120px;
  position: relative;
  z-index: 1;
  font-family: 'Open Sans', sans-serif; }
  .event-details-container .details-text-wrapper {
    width: 95%;
    margin-top: 50px; }
  .event-details-container #details-name {
    margin-top: 10px;
    color: rgba(255, 109, 94, 0.8);
    margin-top: 10px;
    color: rgba(255, 109, 94, 0.8);
    margin-left: 40px; }
  .event-details-container #details-interested-button {
    float: right;
    background-color: #a4dbd8;
    border-radius: .3em;
    height: 65px;
    margin-top: 10px;
    margin-left: 40px;
    color: white;
    font-size: 45px; }
  .event-details-container #details-eventDetail-title {
    margin-top: 40px;
    margin-left: 40px; }
  .event-details-container #details-eventDetail-interest {
    margin-top: 40px;
    margin-left: 40px; }
  .event-details-container #details-eventDetail-description {
    margin-top: 40px;
    margin-left: 40px; }
  .event-details-container #details-eventDetail-location {
    margin-top: 40px;
    margin-left: 40px; }

.memories-header-icons {
  display: inline-block; }

#memories-header-text {
  color: #ff6d5e;
  position: relative;
  float: left;
  top: 5px;
  font-size: 100px;
  left: 10%;
  font-family: 'Sniglet', cursive; }

#memories-back-button {
  color: white;
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  margin-left: 20px; }

.memories-container {
  margin-top: 120px; }

#memories-name {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  font-size: 40px; }

.fa-thumbs-up {
  color: #ff6d5e;
  float: right;
  padding-left: 1em;
  margin-right: 1em; }

.edit-event-container {
  margin-top: 160px; }

.editFields {
  margin-top: 40px; }

#edit-event-title {
  height: 100px;
  width: 80%;
  font-size: 50px;
  border: 4px solid red; }

#edit-event-interests {
  height: 100px;
  width: 80%;
  font-size: 50px;
  border: 4px solid red; }

#edit-event-description {
  height: 100px;
  width: 80%;
  font-size: 50px;
  border: 4px solid red; }

#edit-event-interests {
  height: 100px;
  width: 80%;
  font-size: 50px;
  border: 4px solid red; }

.editUser-main-header-edit {
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  left: 13%;
  color: #ff6d5e;
  font-family: 'Sniglet', cursive; }

.editFields {
  font-size: 50px;
  width: 80%;
  text-align: center; }

.user-edit-buttons {
  width: 300px;
  height: 100px;
  font-size: 30px; }

a {
  color: inherit;
  text-decoration: none; }

.trind-main-header {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: white;
  background-color: #a4dbd8; }
  .trind-main-header .trind-main-header-create-icon {
    position: relative;
    float: left;
    top: 25px;
    font-size: 80px;
    margin-left: 30px; }
  .trind-main-header .trind-main-header-image {
    position: relative;
    float: left;
    top: 25px;
    font-size: 80px;
    left: 36%; }
  .trind-main-header .trind-main-header-search-icon {
    position: relative;
    float: right;
    top: 25px;
    font-size: 80px;
    margin-right: 30px;
    cursor: inherit; }

#home-drop-search-input-box {
  position: fixed;
  height: 50px;
  width: 100%;
  font-size: 24px;
  color: gray;
  text-align: center;
  z-index: 90; }

.trind-main-footer {
  height: 120px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #a4dbd8;
  z-index: 100; }
  .trind-main-footer .trind-main-footer-me-icon {
    position: relative;
    float: left;
    top: 25px;
    font-size: 80px;
    left: 30px; }
  .trind-main-footer .trind-main-footer-trind-icon {
    color: #ff6d5e;
    position: relative;
    float: left;
    top: 5px;
    font-size: 130px;
    left: 38.5%;
    font-family: 'Sniglet', cursive;
    transform: rotate(-45deg); }
  .trind-main-footer .dot-dot-dot {
    color: rgba(255, 109, 94, 0.6);
    z-index: 10;
    position: absolute;
    top: -6px;
    right: 19px;
    font-size: 60px; }
  .trind-main-footer .trind-main-footer-message-icon {
    position: relative;
    float: right;
    top: 20px;
    font-size: 80px;
    right: 30px; }

/*# sourceMappingURL=app.css.map */
