.landing-login-wrap {
  margin-left: .5em;
  width: 90%; }

.login-page-container {
  height: 100%;
  width: 100%;
  background-color: #3498db; }
  .login-page-container .login-page-main-font {
    font-size: 160px;
    font-family: 'Sniglet', cursive;
    color: white;
    margin-left: 18%;
    padding-top: .6em;
    padding-bottom: .6em; }
  .login-page-container .land-call-to-action {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: 0em;
    color: white; }
  .login-page-container .land-input-wrap {
    margin-top: 8em; }
  .login-page-container .landing-login-container {
    margin-left: 5.5em; }
  .login-page-container .label {
    margin-left: 100px; }
  .login-page-container .input-email {
    width: 100%;
    height: 150px;
    font-size: 38px;
    text-align: center;
    border-radius: .5em .5em 0em 0em;
    color: black;
    margin-bottom: 2px; }
  .login-page-container input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset; }
  .login-page-container .input-password {
    width: 100%;
    height: 150px;
    font-size: 38px;
    text-align: center;
    border-radius: 0em 0em .5em .5em;
    border-top: 1px solid #a4dbd8;
    color: black; }
  .login-page-container .login-button {
    margin-left: 0%;
    color: #3498db;
    font-size: 40px;
    margin-top: 3em;
    width: 100%;
    height: 90px;
    border-radius: .5em .5em .5em .5em;
    background-color: white;
    border: none;
    font-weight: bold;
    letter-spacing: 2.5px; }
  .login-page-container .havent-created-an-account-yet {
    color: white;
    font-size: 34px;
    margin-top: 2em;
    margin-left: 30%;
    font-family: 'Open Sans', sans-serif; }
  .login-page-container .land-input-container {
    position: relative; }
  .login-page-container .unit-email {
    font-size: 34px;
    display: block;
    z-index: 10;
    margin-left: 18px;
    font-family: 'Open Sans', sans-serif; }
  .login-page-container .unit-password {
    font-size: 34px;
    display: block;
    margin-top: -90px;
    margin-left: 18px;
    font-family: 'Open Sans', sans-serif; }
  .login-page-container .create-account {
    margin-top: 1em;
    font-weight: bold;
    color: white;
    margin-left: 8%;
    font-size: 65px;
    font-family: 'Sansita One', cursive; }

.twitter-hover {
  color: #31d4e9; }

.landing-signup-container {
  position: absolute;
  z-index: 100;
  border-radius: 1em;
  background-color: #004fa4;
  height: 80em;
  width: 90%;
  top: 340px;
  left: 3.5em; }
  .landing-signup-container .btn-signup-close {
    height: 80px;
    width: 80px;
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    font-size: 40px;
    border-radius: .5em;
    font-family: 'Open Sans', sans-serif;
    background-color: inherit;
    border: none;
    color: white; }
  .landing-signup-container .sign-up-modal-input {
    width: 90%;
    height: 140px;
    font-size: 40px;
    text-align: center;
    border-radius: .5em .5em .5em .5em;
    margin-top: 1.2em;
    margin-left: 1em;
    border-bottom: 1px solid grey;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    opacity: 0.85; }
  .landing-signup-container .modal-perm-input-text {
    font-size: 36px;
    display: block;
    margin-top: -90px;
    margin-left: 70px;
    z-index: 120;
    position: absolute;
    opacity: .95;
    font-family: 'Open Sans', sans-serif; }
  .landing-signup-container .form-column {
    margin-top: 6em; }
  .landing-signup-container .sign-up-pressure {
    font-family: 'Sansita One', cursive;
    font-size: 46px;
    margin-left: 4em;
    margin-top: 2em;
    color: white; }
  .landing-signup-container #signup-now {
    height: 120px;
    width: 90%;
    margin-left: 1em;
    border-radius: 12px;
    position: absolute;
    bottom: 1em;
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    background-color: white; }

.conversation-wrap {
  height: 4000px;
  margin-top: 150px; }

.chat-body {
  font-size: 2.5em;
  padding: 1em;
  height: auto; }

.message-main-header-name {
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  left: 3%;
  font-family: "Yanone Kaffeesatz", sans-serif;
  width: 76%;
  text-align: center; }

.message-footer {
  width: 100%;
  position: absolute;
  z-index: 60;
  bottom: 120;
  box-sizing: border-box; }

.message-in {
  width: 80%;
  float: left;
  text-align: left;
  background-color: #e6e6e6;
  padding: .5em;
  margin: .8em;
  border-radius: .5em;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif; }

.message-out {
  width: 80%;
  text-align: right;
  float: right;
  background-color: #ff7f00;
  padding: .5em;
  margin: .8em;
  border-radius: .5em;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif; }

input {
  width: 100%;
  height: 100px;
  font-size: 2.5em;
  border: 2px solid #999;
  border-radius: 3px; }

.trind-main-footer {
  height: 120px;
  border: 1px solid #888; }

#meet-button {
  left: 1;
  font-size: 2.3em;
  width: 30%;
  height: 100%;
  border: 2px solid #555;
  position: absolute;
  background-color: #999;
  color: #fff; }

#send-button {
  font-size: 2.3em;
  width: 30%;
  height: 100%;
  border: 2px solid #555;
  position: absolute;
  background-color: #999;
  right: 1;
  color: #fff; }

#chatter {
  padding-left: .5em; }

#message-t-footer-icon {
  margin-left: 75px; }

.open-messages-container {
  width: 100%;
  font-size: 3em;
  margin-top: 120px;
  font-family: sans-serif; }

.messages-main-header-title {
  position: absolute;
  color: white;
  font-size: 4em;
  width: 40%;
  left: 36%;
  padding-top: .5em;
  font-family: "Yanone Kaffeesatz", sans-serif; }

.conversation-information-container {
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  padding-top: .2em;
  padding-bottom: .1em; }
  .conversation-information-container .conversation-information-direction {
    width: 69%;
    float: right;
    margin-top: -280px; }
    .conversation-information-container .conversation-information-direction div {
      display: inline; }
    .conversation-information-container .conversation-information-direction .chevy {
      float: right;
      color: #888;
      opacity: 0.5; }
    .conversation-information-container .conversation-information-direction .conversation-sender {
      text-align: left;
      padding-right: 2em;
      color: #ff7f00; }
    .conversation-information-container .conversation-information-direction .conversation-last-message {
      float: right;
      text-align: left;
      padding: .2em;
      margin-top: 20px;
      padding-right: 1em;
      color: #888;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 99%;
      width: 92%; }
  .conversation-information-container .conversation-image {
    width: 300px; }
  .conversation-information-container .conversation-image img {
    border-radius: 10em 10em 10em 10em;
    margin: 1em .5em 1em 1em; }

.create-main-header-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 80px;
  position: absolute;
  left: 5.5em;
  top: 18px; }

.create-input-field {
  height: 100%;
  width: 100%;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  border-radius: 12px; }
  .create-input-field .create-subtitle {
    font-size: 4em;
    text-align: center;
    padding: .5em;
    font-family: 'Yanone Kaffeesatz', sans-serif; }
  .create-input-field input {
    width: 95%;
    margin-top: 1.6em;
    order-radius: 12px;
    font-size: 2.5em;
    margin-left: .6em;
    border: 2px solid #555;
    border-radius: .2em; }
  .create-input-field textarea {
    width: 95%;
    height: 20%;
    margin-top: 1.6em;
    font-size: 40px;
    border: 2px solid #555;
    margin-left: .6em;
    border-radius: .2em; }
  .create-input-field button {
    text-align: center;
    margin-left: 10%;
    margin-top: 2em; }
  .create-input-field .create-trind-submit-button-text {
    border: none;
    height: 140px;
    width: 80%;
    font-size: 90px;
    color: #fff;
    background-color: #fa4c06;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    bottom: 6em;
    border-radius: 1em;
    cursor: pointer;
    position: absolute;
    top: 11.5em; }

.pac-item {
  font-size: 2em;
  line-height: 1.5em; }

.pac-item-query {
  font-size: 1em; }

.pac-icon {
  display: none; }

.trind-main-header-text {
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  left: 30%;
  color: #fa4c06;
  letter-spacing: 4px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold; }

.home-events-display-wrap {
  background-position: #004fa4; }
  .home-events-display-wrap .home-events-display {
    position: relative;
    box-sizing: border-box;
    margin-top: 120px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 120px; }
    .home-events-display-wrap .home-events-display .home-trind-event-information-image {
      background-color: white;
      height: 280px;
      width: 280px;
      float: left; }
    .home-events-display-wrap .home-events-display .home-trind-event-information-image img {
      border-radius: 9em 9em 9em 9em;
      margin-left: 2em;
      margin-top: 2em; }
    .home-events-display-wrap .home-events-display .home-trind-event-container {
      height: 280px;
      width: 100%;
      background-color: white; }
    .home-events-display-wrap .home-events-display #event-dilb {
      display: inline-block; }
    .home-events-display-wrap .home-events-display .home-trind-event-information-container {
      width: 100%;
      border: 1px solid rgba(171, 178, 186, 0.5); }
    .home-events-display-wrap .home-events-display .home-trind-event-information {
      background-color: white; }
    .home-events-display-wrap .home-events-display #event-information-name {
      color: #888;
      font-size: 30px;
      padding-top: 10px; }
    .home-events-display-wrap .home-events-display #interests {
      font-size: 30px;
      color: #ff6d5e;
      vertical-align: bottom;
      position: relative;
      background: inherit;
      right: 0em;
      margin-top: 80px; }
    .home-events-display-wrap .home-events-display #description {
      margin-top: 10px;
      height: 80px;
      font-size: 45px;
      padding-bottom: 15px; }
    .home-events-display-wrap .home-events-display #location {
      height: 20px;
      font-size: 30px; }

.getting-started-background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 130;
  background-color: black;
  opacity: 0.4;
  top: 0; }

.home-modal-welcome {
  font-size: 90px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  color: white;
  margin-top: .6em; }

.getting-started-modal {
  height: 65%;
  width: 85%;
  background-color: #fa4c06;
  position: fixed;
  top: 20em;
  z-index: 145;
  border-radius: 3em;
  right: 4.5em; }

.getting-started-content {
  font-size: 50px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-left: 1.5em;
  margin-top: 1.5em; }

.home-modal-icon {
  position: relative;
  float: right;
  right: 2em;
  font-size: 60px; }

.trind-land-modal-icon {
  color: white;
  position: relative;
  float: right;
  font-size: 90px;
  right: 1.2em;
  font-family: 'Sniglet', cursive;
  transform: rotate(-45deg);
  margin-top: -15px; }

#getting-started {
  font-size: 90px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  margin-top: .8em;
  position: relative;
  color: #ff5900;
  border-radius: 0em 0em .6em .6em;
  height: 2.4em;
  vertical-align: middle;
  bottom: 0; }

#start {
  margin-top: 2em; }

#where {
  color: #004fa4;
  opacity: 0.7; }

#details-header-name {
  position: relative;
  float: left;
  top: 20px;
  font-size: 80px;
  left: 3%;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  color: white;
  text-align: center;
  width: 76%; }

.event-details-container {
  background-color: rgba(40, 44, 52, 0.03);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  position: relative;
  z-index: 1;
  font-family: 'Open Sans', sans-serif; }
  .event-details-container .me-avatar {
    width: 100%;
    height: 800px;
    margin-top: 80px;
    text-align: center;
    border-radius: 1em; }
  .event-details-container .details-text-wrapper {
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 2em; }
  .event-details-container #details-name {
    margin-top: 10px;
    margin-top: 10px;
    color: rgba(255, 109, 94, 0.8);
    margin-left: 40px;
    font-size: 1em;
    text-align: center;
    font-style: italic; }
  .event-details-container #details-eventDetail-title {
    font-size: 2em;
    text-align: center;
    color: white; }
  .event-details-container .details-button-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center; }
  .event-details-container #details-interested-button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #004fa4;
    border-radius: .3em;
    height: 65px;
    margin-top: 30px;
    color: white;
    font-size: 3em;
    border: none; }
  .event-details-container #details-message-button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fa4c06;
    border-radius: .3em;
    height: 65px;
    margin-top: 30px;
    color: white;
    font-size: 3em;
    border: none; }
  .event-details-container #details-eventDetail-title {
    margin-top: 40px;
    margin-left: 40px; }
  .event-details-container #details-eventDetail-interest {
    margin-top: 40px;
    margin-left: 40px; }
  .event-details-container #details-eventDetail-description {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 50px; }
  .event-details-container #details-eventDetail-location {
    margin-top: 40px;
    margin-left: 40px; }

#details-marker {
  color: #31d4e9;
  font-size: 40px; }

#mapcontainer {
  margin-left: 9em;
  margin-top: 6em; }

.memories-header-icons {
  display: inline-block; }

#memories-header-text {
  color: white;
  position: relative;
  float: left;
  top: 20px;
  font-size: 80px;
  left: 25%;
  font-family: "Yanone Kaffeesatz", sans-serif; }

#memories-back-button {
  color: white;
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  margin-left: 20px; }

.memories-container-wrap {
  margin-top: 120px;
  position: absolute;
  height: 100%;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif; }
  .memories-container-wrap #mem-dilb {
    display: inline-block; }
  .memories-container-wrap .fa-thumbs-up {
    color: #ff6d5e;
    padding-left: 1em;
    margin-right: 1em; }

.memories-trind-event-information-container {
  height: 300px;
  font-size: 25px; }

.memory-text-container {
  font-size: 40px;
  display: inline-block;
  border: 1px solid grey;
  width: 678px;
  box-sizing: border-box;
  vertical-align: top;
  height: 100%;
  float: right; }

#stashed-image {
  float: left; }

#stashed-interests {
  color: #ff6d5e; }

#stashed-description {
  height: 80px; }

.trind-main-header-text-edit-event {
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  left: 37%;
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif; }

.edit-event-container {
  margin-top: 120px;
  margin-left: 100px;
  height: 100%;
  width: 100%;
  display: relative; }

.edit-fields-wrap {
  margin-top: 12em; }

.edit-event-inputs {
  margin-top: 4em; }

#edit-event-title input {
  height: 200px;
  width: 100%;
  font-size: 50px;
  border: 4px solid grey;
  border-radius: .5em; }

#edit-event-interests input {
  height: 100px;
  width: 100%;
  font-size: 50px;
  border: 4px solid grey;
  border-radius: .5em; }

#edit-event-description input {
  height: 500px;
  width: 100%;
  font-size: 50px;
  border: 4px solid grey;
  border-radius: .5em; }

#edit-event-location input {
  height: 100px;
  width: 100%;
  font-size: 50px;
  border: 4px solid grey;
  border-radius: .5em; }

.edit-event-save-delete-wrap {
  margin-left: 9em;
  width: 100%;
  margin-top: 4em; }
  .edit-event-save-delete-wrap .edit-event-button-save {
    width: 300px;
    height: 100px;
    font-size: 50px; }
  .edit-event-save-delete-wrap .edit-event-button-delete {
    width: 300px;
    height: 100px;
    font-size: 50px;
    margin-left: 2em; }

.edit-input-title {
  margin-top: 2em;
  font-size: 35px;
  vertical-align: bottom;
  font-family: 'Open Sans', sans-serif; }

.edit-event-button-save {
  background-color: #31d4e9;
  color: white; }

.edit-event-button-delete {
  background-color: red;
  color: white; }

.editUser-main-header-edit {
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  left: 27%;
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif; }

.editFields {
  font-size: 50px;
  width: 80%;
  text-align: center;
  margin-left: 0em; }

.user-edit-button {
  width: 300px;
  height: 100px;
  font-size: 30px;
  margin-top: 2em;
  border: 1px solid #555;
  background-color: #3498db;
  color: white; }

.user-delete-button {
  width: 300px;
  height: 100px;
  font-size: 30px;
  margin-top: 1em;
  border: 1px solid #555;
  background-color: red;
  color: white; }

.upload-me-title {
  text-align: center;
  font-size: 1em; }

#file-input {
  text-align: center;
  padding: 2em;
  height: 10%;
  width: 25%;
  margin-top: -2em; }

.edit-user-user-name {
  margin-top: 4em; }

.upload-photo {
  margin-top: -10.5em; }

.upload-me-title {
  margin-bottom: 1em; }

.user-events-page-container {
  width: 100%;
  height: 100%;
  margin-top: 120px; }
  .user-events-page-container .user-events-display {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    font-family: 'Open Sans', sans-serif;
    border: 5px solid grey; }
  .user-events-page-container .home-trind-event-information-image {
    background-color: #eaeaea;
    height: 200px;
    width: 200px;
    float: left; }
  .user-events-page-container .home-trind-event-information-container {
    height: 200px;
    width: 100%;
    background-color: white;
    font-size: 40px; }
  .user-events-page-container #event-dilb {
    display: inline-block; }
  .user-events-page-container #title {
    color: #ff6d5e; }

a {
  color: inherit;
  text-decoration: none; }

.trind-main-header {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: white;
  background-color: white;
  border: 1px solid grey; }
  .trind-main-header .trind-main-header-create-icon {
    position: relative;
    float: left;
    top: 25px;
    font-size: 80px;
    margin-left: 30px;
    color: white;
    color: #cccccc; }
  .trind-main-header .trind-main-header-image {
    position: relative;
    float: left;
    top: 25px;
    font-size: 80px;
    left: 36%;
    color: #fa4c06; }
  .trind-main-header .trind-main-header-search-icon {
    position: relative;
    float: right;
    top: 25px;
    font-size: 80px;
    margin-right: 30px;
    cursor: inherit;
    color: #cccccc; }

#home-drop-search-input-box {
  position: fixed;
  box-sizing: border-box;
  height: 90px;
  width: 100%;
  font-size: 50px;
  color: gray;
  text-align: center;
  z-index: 1;
  letter-spacing: 2px;
  font-family: "Yanone Kaffeesatz", sans-serif; }

.trind-main-footer {
  height: 120px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  background-color: white;
  z-index: 100; }
  .trind-main-footer .trind-main-footer-me-icon {
    position: relative;
    float: left;
    top: 25px;
    font-size: 80px;
    left: 30px;
    color: #cccccc; }
  .trind-main-footer .trind-main-footer-trind-icon {
    color: #fa4c06;
    position: relative;
    float: left;
    top: 5px;
    font-size: 130px;
    left: 38.5%;
    font-family: 'Sniglet', cursive;
    transform: rotate(-45deg); }
  .trind-main-footer .dot-dot-dot {
    color: white;
    z-index: 10;
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: .5em;
    font-family: sans-serif;
    font-weight: bold; }
  .trind-main-footer .pushup {
    margin-top: -10px;
    color: #fa4c06; }
  .trind-main-footer .trind-main-footer-message-icon {
    position: relative;
    float: right;
    top: 20px;
    font-size: 80px;
    right: 30px;
    color: #cccccc; }

/*# sourceMappingURL=app.css.map */
