$blue: rgba(151, 222, 218, 1);
$bluetwo: rgba(56, 121, 217, 1);
$twitter: rgba(49, 212, 233, 1);
$orange-crush: rgba(255, 89, 0, 1);
$orange-citrus: rgba(255, 127, 0, 1);
$creamscicle: rgba(222, 230, 203, 1);
$awwwards: rgba(0, 150, 141, 1);
$header-text: 'Yanone Kaffeesatz', sans-serif;
$bulls-o: rgba(250, 76, 6, 1);
$bulls-blue: rgba(0, 79, 164, 1);
$odd-blue: rgba(52, 152, 219, 1);

#details-header-name {
  position: relative;
  float: left;
  top: 20px;
  font-size: 80px;
  left: 3%;
  font-family: $header-text;
  text-align: center;
  color: $bulls-o;
  // border: 1px solid black;
  text-align: center;
  width: 76%;

}

.event-details-container {
    // background-color: rgba(40, 44, 52, 0.03);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    position: relative;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;


        .me-avatar {
            // width: 500px;
            width: 100%;
            height: 800px;
            // margin-left: 22.5%;
            margin-top: 80px;
            text-align: center;
            // border: 2px solid rgb(164, 219, 216);
            border-radius: 1em 1em 0em 1em;
        }

    .details-text-wrapper {
      width: 90%;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      font-size:2em;
    }

    #details-name {
      margin-top: 10px;
      margin-top: 10px;
      color:rgba(255, 109, 94, 0.8);
      margin-left: 40px;
      font-size: 1em;
      text-align: center;
      font-style: italic;
    }

    #details-eventDetail-title {
        font-size: 2em;
        text-align: center;
        color: white;
    }

    .details-button-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        text-align:center;
    }

    #details-eventDetail-interest {
      color: $bulls-o;
      font-size: 16px;
    }

    // #details-interested-button {
    //   width: 80%;
    //   margin-left: auto;
    //   margin-right:auto;
    //   background-color: $odd-blue;
    //   border-radius: .3em;
    //   height: 65px;
    //   margin-top: 30px;
    //   color: white;
    //   font-size: 3em;
    //   border: none;
    // }

    #details-message-button {
         width: 80%;
         margin-left: auto;
         margin-right: auto;
         background-color: $bulls-o;
         border-radius: .3em;
         height: 65px;
         margin-top: 30px;
         color: white;
         font-size: 3em;
         border: none;
    }


    #details-eventDetail-title {
      margin-top: 40px;
      margin-left: 40px;

    }
    #details-eventDetail-interest {
      margin-top: 40px;
      margin-left: 40px;
      // color: $orange-crush;

    }
    #details-eventDetail-description {
      margin-top: 60px;
      margin-left: 40px;
      font-size: 40px;

    }
    #details-eventDetail-location {
      margin-top: 40px;
      margin-left: 40px;
      // font-size: 16px;
      color: $bulls-blue;

    }
}


#mapcontainer {
  margin-left: 9em;
  margin-top: 6em;
}

#new-stash-button {
  background-color: $odd-blue;
  position: absolute;
  z-index: 1;
  right: .355em;
  top: 6.86em;
  height: 120px;
  width: 150px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
  text-align: center;
  font-size: 4em;
  border-radius: 0em 0em .1em .1em;
}
#new-stash-icon {
  margin-top: -.09em;
  margin-left: 0em;
  // transform: scale(1, -1) rotate(315deg) ;
  transform: rotate(180deg) ;
}

#new-message-button {
  background-color: $bulls-o;
  position: absolute;
  z-index: 1;
  // right: 1em;
  right: 2.1em;
  // top: 6.86em;
  top: 9.15em;
  height: 120px;
  width: 150px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
  text-align: center;
  // font-size: 4em;
  font-size: 3em;
  border-radius: 0em 0em .1em .1em;
}
#new-message-icon {
  margin-top: .1em;
  margin-left: 0em;
  // transform: scale(1, -1) rotate(315deg) ;
  // transform: rotate(180deg) ;
}

#stashed-modal {
  height: 50%;
  width: 85%;
  background-color: $bulls-o;
  position: absolute;
  top: 8em;
  z-index: 145;
  border-radius: 1em;
  right: 4.5em;
  color: white;
  }

  .stash-confirm {
    margin-top: 2.5em;
    text-align: center;
    font-size: 140px;
    font-family: 'Open Sans', sans-serif;
  }

  .fa-map-marker {
    display: inline-block;
    font-size: 40px;
  }

  #details-marker {
    color: $bulls-o;
    font-size: 40px;
  }
