.event-details-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    position: relative;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;

        .me-avatar {
            width: 500px;
            height: 500px;
            margin-left: 25%;
            margin-top: 20px;
            text-align: center;
            border: 2px solid rgb(164, 219, 216);
        }

    .details-text-wrapper {
      width: 90%;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      font-size:2em;
    }

    #details-name {
      margin-top: 10px;
      color:rgba(255, 109, 94, 0.8);
      margin-top: 10px;
      color:rgba(255, 109, 94, 0.8);
      margin-left: 40px;
      font-size: 1em;
      text-align: center;
      font-style: italic;
    }

    #details-eventDetail-title {
        font-size: 2em;
        text-align: center;
    }

.details-button-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align:center;
}


    #details-interested-button {
      width: 80%;
      margin-left: auto;
      margin-right:auto;
      background-color: rgba(49,212,235, 1);
      border-radius: .3em;
      height: 65px;
      margin-top: 30px;
      color: white;
      font-size: 3em;
    }

    #details-message-button {
         width: 80%;
         margin-left: auto;
         margin-right: auto;
         background-color: rgba(49,212,235, 1);
         border-radius: .3em;
         height: 65px;
         margin-top: 30px;
         color: white;
         font-size: 3em;
    }

    #details-eventDetail-title {
      margin-top: 40px;
      margin-left: 40px;

    }
    #details-eventDetail-interest {
      margin-top: 40px;
      margin-left: 40px;

    }
    #details-eventDetail-description {
      margin-top: 40px;
      margin-left: 40px;

    }
    #details-eventDetail-location {
      margin-top: 40px;
      margin-left: 40px;

    }
}

#mapcontainer {
  margin-left: 12em;
  margin-top: 6em;
}
