
$blue: rgba(151, 222, 218, 1);
$twitter: rgba(49, 212, 233, 1);
$orange-crush: rgba(255, 89, 0, 1);
$orange-citrus: rgba(255, 127, 0, 1);
$awwwards: rgba(0, 150, 141, 1);
$header-text: 'Yanone Kaffeesatz', sans-serif;

.editUser-main-header-edit {
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  left: 27%;
  color: white;
  font-family: $header-text;
}

.editFields {
  font-size: 50px;
  width: 80%;
  text-align: center;
  margin-left: 0em;

}

.user-edit-buttons {
  width: 300px;
  height: 100px;
  font-size: 30px;
  margin-top: 2em;
}

#file-input {
  height: 200px;
  margin-left: 3em;
}
