
.trind-main-header-text {
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  left: 21%;
  color: rgb(255, 109, 94);
  font-family: 'Sniglet', cursive;
}

.home-events-display-wrap {


.home-events-display {
  position: relative;
  box-sizing: border-box;
  margin-top: 120px;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;

    .home-trind-event-information-image {
      background-color: rgba(234, 234, 234, 1);
      height: 200px;
      width: 200px;
      float: left;
    }
    .home-trind-event-container {
      height: 200px;
      width: 100%;
      background-color: white;
      border: 1px solid black;
    }
    #event-dilb {
      display: inline-block;
    }

    .home-trind-event-information-container {
      width: 100%;
      border: 1px solid rgba(171, 178, 186, 0.5);
    }

    .home-trind-event-information {
      background-color: white;
    }

    #interests {
      font-size: 40px;
      padding-bottom: 15px;
      height: 40px;
      color: rgb(255, 109, 94);

    }
    #description {
      height: 80px;
      font-size: 30px;
      padding-bottom: 15px;

    }
    #location {
      height: 20px;
      font-size: 30px;
      // margin-bottom: -10px;
      // text-align: right;
      // position: absolute;
      // left: 5;
      // bottom: 14;
      // border: 1px solid black;

    }
  }
}
