
.trind-main-header-text {
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  left: 21%;
  color: rgb(255, 109, 94);
  font-family: 'Sniglet', cursive;
}

.home-events-display-wrap {


.home-events-display {
  position: relative;
  box-sizing: border-box;
  margin-top: 120px;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;

    .home-trind-event-information-image {
      background-color: rgba(234, 234, 234, 1);
      height: 280px;
      width: 280px;
      float: left;
    }
    .home-trind-event-container {
      height: 280px;
      width: 100%;
      background-color: white;
      // border: 1px solid black;
    }
    #event-dilb {
      display: inline-block;
    }

    .home-trind-event-information-container {
      width: 100%;
      border: 1px solid rgba(171, 178, 186, 0.5);
    }

    .home-trind-event-information {
      background-color: white;
    }
    #event-information-name {
      background-color: grey;
      color: black;
      font-size: 40px;
      padding-top: 10px;
    }

    #interests {
      font-size: 40px;
      padding-bottom: 15px;
      // height: 110px;
      color: rgb(255, 109, 94);
      vertical-align: top;

    }
    #description {
      margin-top: 10px;
      height: 80px;
      font-size: 30px;
      padding-bottom: 15px;

    }
    #location {
      height: 20px;
      font-size: 30px;
      // margin-bottom: -10px;
      // text-align: right;
      vertical-align: bottom;
      // left: 5;

      // border: 1px solid black;

    }
  }

}

.getting-started-background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 130;
  background-color: black;
  opacity: 0.4;
  top: 0;

}

.home-modal-welcome {
  font-size: 90px;
  font-family: 'Sniglet', cursive;
  text-align: center;
  color: white;
  margin-top: .6em;

}

.getting-started-modal {
  height: 65%;
  width: 85%;
  background-color: rgba(164, 219, 216, 1);
  position: fixed;
  top: 20em;
  z-index: 145;
  border-radius: 3em;
  right: 4.5em;


    }



.getting-started-content {
  font-size: 50px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-left: 1.5em;
  margin-top: 1.5em;

}

.home-modal-icon {
  position: relative;
  float: right;
  right: 2em;
  font-size: 60px;

}

.trind-land-modal-icon {
  color: rgb(255, 109, 94);
  position: relative;
  float: right;
  // top: 5px;
  font-size: 90px;
  right: 1.2em;
  font-family: 'Sniglet', cursive;
  transform: rotate(-45deg);
  margin-top: -15px;
}

#getting-started {
  font-size: 75px;
  font-family: 'Sniglet', cursive;
  text-align: center;
  margin-top: .8em;
  position: relative;
  color: rgb(255, 109, 94);
  // background-color: rgba(255, 109, 94, .3);
  border-radius: 0em 0em .6em .6em;
  height: 2.4em;
  vertical-align: middle;
  bottom: 0;


}

#start {
  margin-top: 2em;
}
