.landing-container {
  font-family: helvetica, sans-serif;
  width: 100%; }

.landing-title {
  color: #ff6c59;
  font-size: 60px;
  text-align: center;
  padding-top: 1em; }

.landing-subtitle {
  text-align: center;
  font-size: 35px;
  color: white;
  text-shadow: 0 0 3px #555; }

.landing-jumbotron {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 70% 0;
  position: absolute; }

.fb-container {
  text-align: center;
  padding-left: 10%;
  margin-top: 2em; }

#landing-sign-up {
  border-radius: 5px;
  text-align: center;
  font-size: 2em;
  color: white;
  border: 1px solid #a4dbd8;
  text-decoration: none;
  padding: .2em;
  z-index: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-shadow: 0 0 3px #555; }

.landing-login-container {
  border-radius: 5px;
  text-align: center;
  color: #a4dbd8;
  text-decoration: none;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
  font-size: 2em;
  z-index: auto; }
  .landing-login-container #landing-sign-up a {
    text-shadow: 0 0 3px #555; }

.login-modal {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }
  .login-modal .modal-container {
    border: 1px solid #555;
    height: 320px;
    background: white;
    z-index: auto; }
    .login-modal .modal-container .modal-close {
      float: right;
      font-size: 1em;
      text-align: right;
      line-height: 25px;
      color: black;
      border: 2px solid black; }
    .login-modal .modal-container .modal-column label {
      color: #555;
      display: block;
      font-size: 1em;
      padding: .2em; }
    .login-modal .modal-container .modal-column input {
      font-size: .5em;
      width: 80%;
      text-align: left;
      padding: .5em;
      border: 2px solid #555; }
    .login-modal .modal-container .login-button {
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      font-size: 1em;
      width: 80%;
      height: 20%;
      border: 1px solid black; }

#signup-modal {
  margin-top: 30px; }

.signup-form {
  font-size: 1em;
  padding: 1.2em;
  line-height: 2em;
  background-color: #fff;
  width: 80%;
  height: 600px;
  margin-left: 5%;
  border: 1px solid #555;
  background: #fff;
  position: relative;
  z-index: auto; }
  .signup-form h3 {
    color: black;
    font-size: 1em;
    margin-top: 10px; }
  .signup-form .modal-close {
    font-size: 2em;
    border: 1px solid #555;
    float: right;
    line-height: 25px;
    text-decoration: none;
    color: black; }
  .signup-form .form-column {
    border: 1px solid white;
    height: 500px;
    line-height: 35px;
    margin-top: 50px;
    text-align: center; }
    .signup-form .form-column label {
      display: block;
      padding: .2em;
      font-size: 1.5em;
      color: #555; }
    .signup-form .form-column input {
      border: 2px solid #555;
      padding: .2em;
      width: 80%;
      font-size: 1.2em; }
    .signup-form .form-column #signup-now {
      padding: 1em;
      background: green;
      color: white;
      font-size: 1em;
      margin-top: 1em; }
    .signup-form .form-column #signup-facebook {
      padding: 1em;
      background: blue;
      color: white;
      font-size: 1em; }

@media (min-width: 800px) {
  .landing-header {
    background-color: #a4dbd8;
    color: #ff6c59;
    height: 100px;
    border-bottom: 1px solid #fff; }
    .landing-header .land-header-left {
      padding-top: .5em;
      padding-left: .5em;
      width: 30px;
      text-align: center;
      position: relative;
      font-size: 3em;
      text-shadow: 0 0 5px #fff; }
    .landing-header .land-header-right {
      width: 20%;
      margin-right: auto;
      padding-right: .5em;
      float: right; }
      .landing-header .land-header-right li {
        float: right;
        padding: .3em;
        display: block;
        margin-top: -20px; }

  .landing-container {
    font-family: helvetica, sans-serif;
    width: 60%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    height: 800px; }

  .landing-title {
    color: #ff6c59;
    font-size: 60px;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em; }

  .landing-subtitle {
    text-align: center;
    font-size: 35px;
    color: white;
    padding-bottom: 15px;
    text-shadow: 0 0 3px #555; }

  .landing-jumbotron {
    height: 100%;
    background-size: cover;
    background-position: 20% 0;
    position: absolute;
    z-index: auto; }

  .landing-login-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    .landing-login-container label {
      text-align: left;
      margin-right: 1em; }
    .landing-login-container input {
      margin: .1em;
      font-size: 1.5em; }

  .landing-signup-container {
    height: 20%;
    padding-top: 4em;
    padding-bottom: .2em;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center; }
    .landing-signup-container label {
      color: #a4dbd8;
      display: inline-block; }
    .landing-signup-container .form-column {
      display: inline-block;
      float: left; }

  .landing-login-container {
    border-radius: 5px;
    text-align: center;
    color: #a4dbd8;
    text-decoration: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: .2em;
    font-size: 2em;
    z-index: auto; }
    .landing-login-container .fb-container-login {
      text-align: center;
      margin-top: 2em; }
    .landing-login-container #landing-sign-up a {
      text-shadow: 0 0 3px #555; }

  .login-modal {
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
    .login-modal .modal-container {
      border: 2px solid #555;
      height: 300px;
      background: white;
      z-index: auto;
      text-align: center; }
      .login-modal .modal-container .modal-close {
        float: right;
        line-height: 15px;
        color: black;
        border: 1px solid black;
        font-size: .5em;
        padding: .5em; }
      .login-modal .modal-container .modal-column label {
        color: #555;
        display: block;
        font-size: 30px; }
      .login-modal .modal-container .modal-column input {
        font-size: .8em;
        width: 90%;
        text-align: left;
        padding: .2em;
        border: 2px solid #555; }
      .login-modal .modal-container .login-button {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: .5em;
        width: 80%;
        height: 50px;
        border: 1px solid black;
        padding-bottom: 1em; }

  #signup-modal {
    margin-top: 30px; }

  #login-modal {
    margin-top: 100px; }

  .signup-form {
    font-size: 1em;
    line-height: 1.5em;
    background-color: #fff;
    border: 2px solid #555;
    position: relative;
    z-index: auto; }
    .signup-form .modal-close {
      font-size: 2em;
      border: 1px solid #555;
      float: right;
      text-decoration: none;
      color: black; } }

/*# sourceMappingURL=land.css.map */
