



.login-page-container {
  height: 100%;
  width: 100%;
  background-color: rgba(164, 219, 216, 1);
    .login-page-main-font {
      font-size: 160px;
      font-family: 'Sniglet', cursive;
      color: white;
      margin-left: 15%;
    }
    .label {
      margin-left: 100px;
    }
    .input-email {
      border-radius: 4px;
    }
    .input-password {
      border-radius: 4px;
    }


}
