$blue: rgba(151, 222, 218, 1);
$twitter: rgba(49, 212, 233, 1);
$orange-crush: rgba(255, 89, 0, 1);
$orange-citrus: rgba(255, 127, 0, 1);
$creamscicle: rgba(222, 230, 203, 1);
$awwwards: rgba(0, 150, 141, 1);
$bulls-o: rgba(250, 76, 6, 1);
$bulls-blue: rgba(0, 79, 164, 1);
$odd-blue: rgba(52, 152, 219, 1);



.landing-login-wrap {
  margin-left: .5em;
  width: 90%;
}


.login-page-container {
  height: 100%;
  width: 100%;
  // background-color: rgba(164, 219, 216, 1);
  background-color: $odd-blue;


    .login-page-main-font {
      font-size: 160px;
      font-family: 'Sniglet', cursive;
      color: white;
      margin-left: 18%;
      padding-top: .6em;
      padding-bottom: .6em;
      // margin-top: 6em;
    }
    .land-call-to-action{
      font-size: 40px;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      margin-left: 0em;
      color: white;
    }

    .land-input-wrap {
      margin-top: 8em;
    }

    .landing-login-container {
      margin-left: 5.5em;
      // padding-top: 4em;

    }

    .label {
      margin-left: 100px;
    }
    .input-email {
      width:100%;
      height: 150px;
      font-size: 38px;
      text-align: center;
      border-radius: .5em .5em 0em 0em;
      // margin-bottom: 1.25em;
      // border-bottom: 1px solid grey;
      color: black;
      margin-bottom: 2px;
    }
    input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    .input-password {
      width: 100%;
      height: 150px;
      font-size: 38px;
      text-align: center;
      border-radius: 0em 0em .5em .5em;
      border-top: 1px solid rgba(164, 219, 216, 1);
      color: black;
      // -webkit-text-fill-color: yellow !important;
    }
    .login-button {
      margin-left: 0%;
      color: $odd-blue;
      font-size: 40px;
      margin-top: 3em;
      width: 100%;
      height: 90px;
      border-radius: .5em .5em .5em .5em;
      background-color: white;
      // background-color: white;
      border: none;
      font-weight: bold;
      letter-spacing: 2.5px;
    }
    .havent-created-an-account-yet {
      // color: $creamscicle;
      // color: white;
      color: white;
      font-size: 30px;
      margin-top: 2em;
      margin-left: 32%;
      font-family: 'Open Sans', sans-serif;
    }
    .land-input-container {
      position: relative;
    }
    .unit-email {
      font-size: 34px;
      display: block;
      // margin-bottom: -90px;
      z-index: 10;
      margin-left: 18px;
      font-family: 'Open Sans', sans-serif;

    }
    .unit-password {
      font-size: 34px;
      display: block;
      margin-top: -90px;
      margin-left: 16px;
      font-family: 'Open Sans', sans-serif;
    }
    .create-account {
      margin-top: 1em;
      font-weight: bold;
      // color: $bulls-o;
      color: white;
      margin-left: 11.5%;
      font-size: 55px;
      font-family: 'Sansita One', cursive;
      width: 100%;
    }
    // .twitter-hover {
    //   color: $twitter;
    // }
}

.twitter-hover {
  color: $twitter;
}

//////the sign up modal/////////

.landing-signup-container {
  position: absolute;
  z-index: 100;
  border-radius: 1em;
  background-color: $odd-blue;
  height: 80em;
  width: 90%;
  top: 340px;
  left: 3.5em;

  .btn-signup-close {
  height: 80px;
  width: 80px;
  float: right;
  margin-top: 5px;
  margin-right: 30px;
  font-size: 40px;
  border-radius: .5em;
  font-family: 'Open Sans', sans-serif;
  background-color: inherit;
  // border: 4px solid white;
  border: none;
  color: white;

  }
  .sign-up-modal-input {
    width:90%;
    height: 140px;
    font-size: 40px;
    text-align: center;
    border-radius: .5em .5em .5em .5em;
    margin-top: 1.2em;
    margin-left: 1em;
    border-bottom: 1px solid grey;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    opacity: 0.85;
  }
  .modal-perm-input-text {
    font-size: 36px;
    display: block;
    margin-top: -90px;
    margin-left: 70px;
    z-index: 120;
    position: absolute;
    opacity: .95;
    font-family: 'Open Sans', sans-serif;
  }
  .form-column {
    margin-top: 6em;
  }
  .sign-up-pressure {
    // font-family: 'Lobster Two', cursive;
    font-family: 'Sansita One', cursive;
    font-size: 46px;
    margin-left: 4em;
    margin-top: 2em;
    color: white;
  }
  #signup-now {
    height: 120px;
    width: 90%;
    margin-left: 1em;
    border-radius: 12px;
    position: absolute;
    bottom: 1em;
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    // opacity: 0.85;

  }
}
