$trind-red: rgb(255, 108, 89);
$trind-green: rgb(164, 219, 216);

.landing-container{
    font-family: helvetica, sans-serif;
    width: 100%;
}

.landing-title {
    color: $trind-red;
    font-size: 60px;
    text-align: center;
    padding-top: 1em;
}

.landing-subtitle {
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: 0 0 3px #555;
}

.landing-jumbotron {
    // background: url('https://cdn1.theodysseyonline.com/files/2015/06/08/635693880042525992-518822648_couple-hiking-valley.jpg') bottom center no-repeat;
  	width: 100%;
  	height: 100%;
  	background-size: cover;
  	background-position: 70% 0;
    position: absolute;
}

.fb-container {
    text-align: center;
    padding-left: 10%;
    margin-top: 2em;

}

#landing-sign-up {
            border-radius: 5px;
            text-align: center;
            font-size: 2em;
            color: white;
            border: 1px solid $trind-green;
            text-decoration: none;
            padding: .2em;
            z-index: auto;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            text-shadow: 0 0 3px #555;


        }

.landing-login-container {
            border-radius: 5px;
            text-align: center;
            color: $trind-green;
            text-decoration: none;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            padding: .5em;
            font-size: 2em;
            z-index: auto;
            text-shadow: 0 0 3px #555;

        }

.login-modal {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    .modal-container {
        border: 1px solid #555;
        height: 320px;
        background: white;
        z-index: auto;


    .modal-close {
        float: right;
        font-size: 1em;
        text-align: right;
        line-height: 25px;
        color: black;
        border: 2px solid black;
        }

    .modal-column label{
        color: #555;
        display: block;
        font-size: 1em;
        padding: .2em;
    }
    .modal-column input {
        font-size: .5em;
        width: 80%;
        text-align: left;
        padding: .5em;
        border: 2px solid #555;

    }
    .login-button {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
        width: 80%;
        height: 20%;
        border: 1px solid black;
    }
  }
}

#signup-modal {
    margin-top: 30px;
}
// #login-modal {
//     margin-top: 150px;
//     margin-left: 5%;
// }


.signup-form {
    font-size: 1em;
    padding: 1.2em;
    line-height: 2em;
    background-color: #fff;
    width: 80%;
    height: 600px;
    margin-left: 5%;
    border: 1px solid #555;
    background: #fff;
    position: relative;
    z-index: auto;

    h3 {
        color: black;
        font-size: 1em;
        margin-top: 10px;
    }

    .modal-close {
       font-size: 2em;
        border: 1px solid #555;
        float: right;
        line-height: 25px;
        text-decoration: none;
        color: black;
    }


.form-column {
    border: 1px solid white;
    height: 500px;
    line-height: 35px;
    margin-top: 50px;
    text-align: center;

    label {
    display: block;
    padding: .2em;
    font-size: 1.5em;
    color: #555;
    }
    input {
        border: 2px solid #555;
        padding: .2em;
        width: 80%;
        font-size: 1.2em;
    }
    #signup-now {
        padding: 1em;
        background: green;
        color: white;
        font-size:1em;
        margin-top: 1em;
    }
    #signup-facebook {;

        padding: 1em;
        background: blue;
        color: white;
        font-size:1em;
    }
   }
 }



 @media (min-width: 800px) {

.landing-header {
    background-color: $trind-green;
    color: $trind-red;
    height: 70px;
    border-bottom: 1px solid #fff;

    .land-header-left {
        padding-top: .5em;
        width: 30px;
        text-align: center;
        position: relative;
        font-size: 2em;
        text-shadow: 0 0 5px #fff;

    }

    .land-header-right{
        width: 20%;
        margin-right: auto;
        float: right;

     li{
        float: right;
        padding: .3em;
        display: block;
        margin-top: -20px;
    }
  }
}

.landing-container{
    font-family: helvetica, sans-serif;
    width: 100%;

}

.landing-title {
    color:rgb(255, 108, 89);
    font-size: 60px;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}

.landing-subtitle {
    text-align: center;
    font-size: 35px;
    color: white;
    padding-bottom: 15px;
    text-shadow: 0 0 3px #555;
}




.landing-jumbotron {
    // background: url('https://cdn1.theodysseyonline.com/files/2015/06/08/635693880042525992-518822648_couple-hiking-valley.jpg') bottom center no-repeat;
    width: 100%;
  	height: 100%;
  	background-size: cover;
  	background-position: 20% 0;
    position: absolute;

}

.landing-signup-container {
    height: 20%;
    padding-top:4em;
    padding-bottom: .2em;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    text-align: center;


    .fb-container {
        text-align: center;
        padding-left: 10%;
        margin-top: 2em;
    }
}

#landing-sign-up {
        border-radius: 5px;
        text-align: center;
        font-size: 3em;
        color: white;
        border: 1px solid $trind-green;
        text-decoration: none;
        padding: .2em;
        z-index: auto;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-shadow: 0 0 3px #555;
    }


.landing-login-container {
        border-radius: 5px;
        text-align: center;
        color: $trind-green;
        text-decoration: none;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: .2em;
        font-size: 2em;
        z-index:auto;
        text-shadow: 0 0 3px #555;

}
.login-modal {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    .modal-container {
        border: 2px solid #555;
        height: 300px;
        background: white;
        z-index: auto;

        .modal-close {
                float: right;
                line-height: 15px;
                color: black;
                border: 1px solid black;
                font-size: .5em;
                padding: .5em;
                }

    .modal-column label{
        color: #555;
        display: block;
        font-size: 30px;
    }
    .modal-column input {
        font-size: .8em;
        width: 90%;
        text-align: left;
        padding: .2em;
        border: 2px solid #555;
    }

    .login-button {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: .5em;
        width: 80%;

        height: 50px;
        border: 1px solid black;
        padding-bottom: 1em;
    }
  }
}

#signup-modal {
    margin-top: 30px;

}
#login-modal {
    margin-top: 100px;
}


.signup-form {
    font-size: 1em;
    line-height: 1.5em;
    background-color: #fff;
    border: 2px solid #555;
    position: relative;
    z-index: auto;

    h3 {
        color: black;
        font-size: 2em;
    }

    .modal-close {
        font-size: 2em;
        border: 1px solid #555;
        float: right;
        text-decoration: none;
        color: black;
    }


.form-column {
    border: 1px solid white;
    height: 420px;
    line-height: 35px;

    label {
    display: block;
    // padding: .2em;
    font-size: 1.2em;
    color: $trind-red;
    }
    input {
        border: 2px solid #555;
        // padding: .2em;
        // width: 50%;
        font-size: 1.2em;
    }
    #signup-now {
        padding: .5em;
        background: green;
        color: white;
    }
    #signup-facebook {
        margin: .2em;
        padding: .5em;
        background: blue;
        color: white;
    }
  }
}

.about-trind {
    height: 500px;
    width: 100%;
    font-size: 5em;
    margin-left: auto;
    margin-right: auto;
}
}
