.landing-login-wrap {
  margin-left: .5em;
  width: 90%; }

.login-page-container {
  height: 100%;
  width: 100%;
  background-color: #3498db; }
  .login-page-container .login-page-main-font {
    font-size: 160px;
    font-family: 'Sniglet', cursive;
    color: white;
    margin-left: 18%;
    padding-top: .6em;
    padding-bottom: .6em; }
  .login-page-container .land-call-to-action {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: 0em;
    color: white;
    padding-bottom: 120px; }
  .login-page-container .land-input-wrap {
    margin-top: 8em; }
  .login-page-container .landing-login-container {
    margin-left: 5.5em; }
  .login-page-container .label {
    margin-left: 100px; }
  .login-page-container .input-email {
    width: 100%;
    height: 150px;
    font-size: 38px;
    text-align: center;
    border-radius: .5em .5em 0em 0em;
    color: black;
    margin-bottom: 2px; }
  .login-page-container input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset; }
  .login-page-container .input-password {
    width: 100%;
    height: 150px;
    font-size: 38px;
    text-align: center;
    border-radius: 0em 0em .5em .5em;
    border-top: 1px solid #a4dbd8;
    color: black; }
  .login-page-container .login-button {
    margin-left: 0%;
    color: #3498db;
    font-size: 40px;
    margin-top: 3em;
    width: 100%;
    height: 90px;
    border-radius: .5em .5em .5em .5em;
    background-color: white;
    border: none;
    font-weight: bold;
    letter-spacing: 2.5px; }
  .login-page-container .havent-created-an-account-yet {
    color: white;
    font-size: 30px;
    margin-top: 2em;
    margin-left: 32%;
    font-family: 'Open Sans', sans-serif; }
  .login-page-container .land-input-container {
    position: relative; }
  .login-page-container .unit-email {
    font-size: 34px;
    display: block;
    z-index: 10;
    margin-left: 18px;
    font-family: 'Open Sans', sans-serif; }
  .login-page-container .unit-password {
    font-size: 34px;
    display: block;
    margin-top: -90px;
    margin-left: 16px;
    font-family: 'Open Sans', sans-serif; }
  .login-page-container .create-account {
    margin-top: 1em;
    font-weight: bold;
    color: white;
    margin-left: 20%;
    font-size: 55px;
    font-family: 'Sansita One', cursive;
    width: 100%; }

.twitter-hover {
  color: #31d4e9; }

.landing-signup-container {
  position: absolute;
  z-index: 100;
  border-radius: 1em;
  background-color: #3498db;
  height: 80em;
  width: 90%;
  top: 340px;
  left: 3.5em; }
  .landing-signup-container .btn-signup-close {
    height: 80px;
    width: 80px;
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    font-size: 40px;
    border-radius: .5em;
    font-family: 'Open Sans', sans-serif;
    background-color: inherit;
    border: none;
    color: white; }
  .landing-signup-container .sign-up-modal-input {
    width: 90%;
    height: 140px;
    font-size: 40px;
    text-align: center;
    border-radius: .5em .5em .5em .5em;
    margin-top: 1.2em;
    margin-left: 1em;
    border-bottom: 1px solid grey;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    opacity: 0.85; }
  .landing-signup-container .modal-perm-input-text {
    font-size: 36px;
    display: block;
    margin-top: -90px;
    margin-left: 70px;
    z-index: 120;
    position: absolute;
    opacity: .95;
    font-family: 'Open Sans', sans-serif; }
  .landing-signup-container .form-column {
    margin-top: 6em; }
  .landing-signup-container .sign-up-pressure {
    font-family: 'Sansita One', cursive;
    font-size: 46px;
    margin-left: 4em;
    margin-top: 2em;
    color: white; }
  .landing-signup-container #signup-now {
    height: 120px;
    width: 90%;
    margin-left: 1em;
    border-radius: 12px;
    position: absolute;
    bottom: 1em;
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    background-color: white; }

/*# sourceMappingURL=land.css.map */
