.memories-header-icons {
  display: inline-block;
}
#memories-header-text {
  color: rgb(255, 109, 94);
  position: relative;
  float: left;
  top: 20px;
  font-size: 70px;
  left: 15%;
  font-family: 'Sniglet', cursive;
}
#memories-back-button {
  color: white;
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  margin-left: 20px;
}

.memories-container-wrap {
  margin-top: 120px;
  position: absolute;
  height: 100%;
  // border: 1px solid red;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  // border: 1px solid red;
    #mem-dilb {
      display:inline-block;
    }
    .fa-thumbs-up {
    color: rgb(255, 109, 94);
    padding-left: 1em;
    margin-right: 1em;
    }

}


.memories-events-display {

}


.memories-trind-event-information-container {
  height: 300px;
  font-size: 25px;

}

.memory-text-container-wrap {
  // border: 1px solid green;

}

.memory-text-container {
  font-size: 40px;
  display: inline-block;
  border: 1px solid grey;
  width: 678px;
  box-sizing: border-box;
  vertical-align: top;
  height: 100%;
  float: right;


}


#stashed-image {
  float: left;
}

#stashed-title {

}
#stashed-interests {
color: rgb(255, 109, 94);
}
#stashed-description {
height: 80px;
}
#stashed-location {

}
