$blue: rgba(151, 222, 218, 1);
$bluetwo: rgba(56, 121, 217, 1);
$twitter: rgba(49, 212, 233, 1);
$orange-crush: rgba(255, 89, 0, 1);
$orange-citrus: rgba(255, 127, 0, 1);
$creamscicle: rgba(222, 230, 203, 1);
$awwwards: rgba(0, 150, 141, 1);
$header-text: 'Yanone Kaffeesatz', sans-serif;
$bulls-o: rgba(250, 76, 6, 1);
$bulls-blue: rgba(0, 79, 164, 1);
$castrol-green: rgba(93, 125, 78, 1);
$castrol-red: rgba(186, 20, 14, 1);
$odd-blue: rgba(52, 152, 219, 1);
$comfy: rgba(204, 204, 204, 1);

.memories-header-icons {
  display: inline-block;
}
#memories-header-text {
  color: $odd-blue;
  position: relative;
  float: left;
  top: 20px;
  font-size: 80px;
  left: 25%;
  // font-family: 'Sniglet', cursive;
  font-family: $header-text;
}
#memories-back-button {
  color: $odd-blue;
  position: relative;
  float: left;
  top: 25px;
  font-size: 80px;
  margin-left: 20px;
}

.memories-container-wrap {
  margin-top: 120px;
  position: absolute;
  height: 100%;
  // border: 1px solid red;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  // border: 1px solid red;
    #mem-dilb {
      display:inline-block;
    }
    .fa-thumbs-up {
    color: rgb(255, 109, 94);
    padding-left: 1em;
    margin-right: 1em;
    }

}


.memories-events-display {

}


.memories-trind-event-information-container {
  height: 300px;
  font-size: 25px;
  border: 1px solid rgba(171, 178, 186, 0.5);
}

.memory-text-container-wrap {
  // border: 1px solid grey;

}

#stashed-text-container {
  font-size: 40px;
  display: inline-block;
  // border: 1px solid grey;
  width: 72%;
  box-sizing: border-box;
  vertical-align: top;
  height: 100%;
  float: right;


}

.stashed-dilb {
  display: inline-block;
}

#stashed-image img {
  float: left;
  border-radius: 9em 9em 9em 9em;
  margin-left: 1em;
  margin-top: 2em;
}

#stashed-name {
  // margin-left: 1.5em;
  color: #888;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

#stashed-title {

}
#stashed-interests {
position: relative;
font-size: 30px;
color: rgb(255, 109, 94);
vertical-align: bottom;
background: inherit;
margin-top: 85px;
}
#stashed-description {
  height: 80px;
  font-size: 40px;
  padding-bottom: 15px;
}
#stashed-location {
  height: 20px;
  font-size: 30px;
  color: $bulls-blue;
  opacity: 0.7;
  margin-top: 45px
}
