$blue: rgba(151, 222, 218, 1);
$bluetwo: rgba(56, 121, 217, 1);
$twitter: rgba(49, 212, 233, 1);
$orange-crush: rgba(255, 89, 0, 1);
$orange-citrus: rgba(255, 127, 0, 1);
$creamscicle: rgba(222, 230, 203, 1);
$awwwards: rgba(0, 150, 141, 1);
$header-text: 'Yanone Kaffeesatz', sans-serif;
$bulls-o: rgba(250, 76, 6, 1);
$bulls-blue: rgba(0, 79, 164, 1);
$castrol-green: rgba(93, 125, 78, 1);
$castrol-red: rgba(186, 20, 14, 1);
$odd-blue: rgba(52, 152, 219, 1);
$comfy: rgba(204, 204, 204, 1);


.conversation-wrap {
  height: auto;
  margin-top: 150px;
  // background-color: $odd-blue;
}

.chat-body {
    font-size: 2.5em;
    padding: 1em;
    height: auto;
    // background: $odd-blue;
}

.message-main-header-name {
  position: relative;
  float: left;
  top: 10px;
  font-size: 80px;
  left: 3%;
  font-family: $header-text;
  width: 76%;
  text-align: center;
  color: $odd-blue;
}

.message-body {
  height: auto;
  // width: 80%;
}

.message-footer {
    width: 100%;
    position: absolute;
    z-index: 60;
    // bottom: 120;
    bottom: 15px;
    box-sizing: border-box;
}



.message-in {
  width: 80%;
  float: left;
  text-align: left;
  background-color: $odd-blue;
  padding: .5em;
  margin: .8em;
  border-radius: .5em;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.message-out {
  width: 80%;
  text-align: right;
  float: right;
  background-color: $comfy;
  opacity: .7;
  padding: .5em;
  margin: .8em;
  border-radius: .5em;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.message-input {
    width: 76%;
    height:90px;
    font-size: 2.5em;
    border:2px solid #999;
    border-radius: 1em;
    margin-left: 40px;
}

.trind-main-footer {
    height:120px;
    border: 1px solid #888;
    // background-color: $bulls-o;

}

#meet-button {
  right: 30px;
  top: 18px;
  font-size: 50px;
  width: 20%;
  border-radius: .2em .2em .2em .2em;
  height: 70%;
  background-color: white;
  color: $bulls-o;
  position: absolute;
  // border: none;
  // background-color: #999;
  // color: #fff;
}
#send-button{
    font-size: 2.3em;
    width: 14%;
    top: 10px;
    border-radius: 1.2em 0em 1.2em 1.2em;
    height: 80%;
    position: absolute;
    background-color: #999;
    right: 20px;
    // color: #fff;
    color: white;
    background-color: $odd-blue;
    border-color: none;
}
#chatter {
  width: 76%;
  height:90px;
  font-size: 2.5em;
  border:2px solid #999;
  border-radius: 1em;
  margin-left: 40px;
}

input {
  text-align: center;
}

#message-t-footer-icon {
  margin-left: 75px;
}
