$blue: rgba(151, 222, 218, 1);
$bluetwo: rgba(56, 121, 217, 1);
$twitter: rgba(49, 212, 233, 1);
$orange-crush: rgba(255, 89, 0, 1);
$orange-citrus: rgba(255, 127, 0, 1);
$creamscicle: rgba(222, 230, 203, 1);
$awwwards: rgba(0, 150, 141, 1);
$header-text: 'Yanone Kaffeesatz', sans-serif;
$bulls-o: rgba(250, 76, 6, 1);
$bulls-blue: rgba(0, 79, 164, 1);
$castrol-green: rgba(93, 125, 78, 1);
$castrol-red: rgba(186, 20, 14, 1);
$odd-blue: rgba(52, 152, 219, 1);
$comfy: rgba(204, 204, 204, 1);


.open-messages-container {
    width: 100%;
    font-size: 3em;
    margin-top: 120px;
    font-family: sans-serif;
    height: 360px;
}

    .messages-main-header-title {
        position: absolute;
        color: $odd-blue;
        font-size: 4em;
        width: 40%;
        left: 36%;
        padding-top: .5em;
        font-family: $header-text;
    }

    .conversation-sender {
        color: rgb(255, 127, 0);
        margin-left: 7em;
    }

.conversation-information-container {
    border-top: 2px solid #999;
    border: 1px solid rgba(171, 178, 186, 0.5);
    padding-bottom: .1em;
    height: 300px;

    .conversation-information-direction {
        width: 100%;
        float: right;
        margin-top: -180px;
        div {
            display: inline;
        }
        .chevy {
            float: right;
            color: #888;
            opacity: 0.5;
            margin-right: 30px;
        }

    }
    .last-message-wrap {
      height: 100px;
      width: 500px;
      margin-left: 7em;
      margin-top: 3em;
    }

    .conversation-last-message {
        font-size: 40px;
        width: 100%;
    }

    .conversation-image img {
        position: absolute;
        border-radius: 0em 9em 9em 0em;
        // margin: 1em .5em 1em 1em;

    }

}
