.landing-container {
  font-family: helvetica, sans-serif; }

.landing-title {
  color: orange;
  font-size: 48px;
  text-align: center; }

.landing-jumbotron {
  background: url("http://cdn1.theodysseyonline.com/files/2015/06/08/635693880042525992-518822648_couple-hiking-valley.jpg") bottom center no-repeat;
  width: 100%;
  height: 72%;
  background-size: cover;
  background-position: 70% 0; }

.landing-call-container {
  width: 80%;
  height: 200px;
  margin-top: 25px;
  padding-top: 1050px;
  padding-bottom: 5px;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  border: 1px solid orange;
  margin-left: 5%;
  margin-right: 5%; }
  .landing-call-container .landing-button-container {
    font-size: 4em;
    padding: 1em;
    bottom: 5px; }
  .landing-call-container .landing-sign-up {
    border: 1px solid white;
    text-align: center; }
  .landing-call-container .landing-log-in {
    border: 1px solid white;
    text-align: center; }

.login-modal {
  padding: 2em; }
  .login-modal label {
    font-size: 25px;
    margin-left: 55px;
    margin-top: 45px;
    margin-bottom: 55px;
    font-color: blue; }
  .login-modal input {
    line-height: 25px;
    text-align: left;
    margin-left: 55px;
    margin-top: 20px;
    font-size: 5em;
    border: 1px solid #555; }

.login-button {
  padding-bottom: 45px;
  margin-top: 15px;
  bottom: auto;
  margin-left: 35%;
  margin-right: 20%;
  float: left;
  font-size: 2em;
  width: 300px;
  height: 50px;
  border: 1px solid black; }

.create-input-field {
  height: 200px;
  margin-top: 6em; }
  .create-input-field .create-enter-interests-input {
    width: 100%;
    height: 40px;
    font-size: 14px;
    position: relative; }
  .create-input-field .user-creator-description {
    padding-top: 1em; }
  .create-input-field .user-creator-description {
    font-size: 14px;
    position: relative; }
  .create-input-field .user-creator-description-field {
    padding-bottom: 80px;
    width: 100%;
    font-size: 14px;
    position: relative; }
  .create-input-field .create-enter-location-input {
    width: 100%;
    height: 40px;
    font-size: 14px; }
  .create-input-field .create-trind-submit-button-text {
    border: none;
    height: 50px;
    width: 100%;
    font-size: 40px;
    color: white;
    background-color: #ff6d5e;
    font-family: 'Sniglet', cursive;
    bottom: 2.5em;
    border-radius: 1em;
    cursor: pointer;
    position: absolute; }

.trind-main-header {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #ff6d5e;
  background-color: rgba(48, 74, 188, 0.9); }
  .trind-main-header .trind-main-header-create-icon {
    position: relative;
    float: left;
    top: 15px;
    font-size: 45px;
    margin-left: 20px; }
  .trind-main-header .trind-main-header-image {
    position: relative;
    float: left;
    top: 15px;
    font-size: 45px;
    left: 30%; }
  .trind-main-header .trind-main-header-search-icon {
    position: relative;
    float: right;
    top: 15px;
    font-size: 45px;
    margin-right: 20px;
    cursor: inherit; }

#home-drop-search-input-box {
  margin-top: 70px;
  height: 50px;
  width: 100%;
  font-size: 24px;
  color: gray;
  text-align: center; }

.home-events-display {
  margin-top: 6em; }

.trind-main-footer {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ff6d5e;
  background-color: rgba(48, 74, 188, 0.9); }
  .trind-main-footer .trind-main-footer-me-icon {
    position: relative;
    float: left;
    top: 15px;
    font-size: 45px;
    margin-left: 20px; }
  .trind-main-footer .trind-main-footer-trind-icon {
    position: relative;
    float: left;
    top: 15px;
    font-size: 60px;
    left: 32.5%;
    font-family: 'Sniglet', cursive;
    transform: rotate(-45deg); }
  .trind-main-footer .trind-main-footer-message-icon {
    position: relative;
    float: right;
    top: 15px;
    font-size: 45px;
    margin-right: 20px; }

a {
  color: inherit;
  text-decoration: none; }

.trind-default-background {
  background-color: rgba(49, 54, 63, 0.7); }

/*# sourceMappingURL=app.css.map */
