.landing-container {
  font-family: helvetica, sans-serif; }

.landing-title {
  color: orange;
  font-size: 48px;
  text-align: center; }

.landing-jumbotron {
  background: url("http://cdn1.theodysseyonline.com/files/2015/06/08/635693880042525992-518822648_couple-hiking-valley.jpg") bottom center no-repeat;
  width: 100%;
  height: 78%;
  background-size: cover;
  background-position: 70% 0; }

.landing-call-container {
  width: 80%;
  height: 30%;
  margin-top: 15px;
  padding-top: 355px;
  padding-bottom: 5px;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  margin-left: 5%;
  margin-right: 5%; }
  .landing-call-container .landing-button-container {
    font-size: 4em;
    padding: 1em;
    bottom: 5px; }
    .landing-call-container .landing-button-container a {
      display: inline-block;
      width: 550px;
      margin-top: 25px;
      margin-left: 5%; }
  .landing-call-container .landing-sign-up a {
    border: 2px solid orange;
    border-radius: 5px;
    text-align: center;
    color: orange;
    text-decoration: none;
    padding: .2em; }
  .landing-call-container .landing-log-in a {
    border: 2px solid orange;
    border-radius: 5px;
    text-align: center;
    color: orange;
    text-decoration: none;
    padding: .2em; }

.login-modal {
  width: 99%; }

  .login-modal .modal-container {
    border: 2px solid white;
    background: orange;
    height: 550px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em; }
    .login-modal .modal-container .modal-close {
      margin-top: 5px;
      margin-right: 25px;
      padding-bottom: 15px;
      padding-right: 15px;
      float: right;
      text-align: right;
      line-height: 25px; }
    .login-modal .modal-container .modal-column label {
      color: white;
      display: block;
      font-size: 45px; }
    .login-modal .modal-container .modal-column input {
      font-size: .8em;
      width: 90%;
      text-align: left;
      padding: .3em; }
    .login-modal .modal-container .login-button {
      margin-top: 15px;
      margin-left: 5%;
      margin-right: 5%;
      font-size: .5em;
      width: 300px;
      height: 110px;
      border: 1px solid black; }



  .login-modal label {
    font-size: 25px;
    margin-left: 55px;
    margin-top: 45px;
    margin-bottom: 55px;
    font-color: blue; }
  .login-modal input {
    line-height: 25px;
    text-align: left;
    margin-left: 55px;
    margin-top: 20px;
    font-size: 5em;
    border: 1px solid #555; }

.login-button {
  padding-bottom: 45px;
  margin-top: 15px;
  bottom: auto;
  margin-left: 35%;
  margin-right: 20%;
  float: left;
  font-size: 2em;
  width: 300px;
  height: 50px;
  border: 1px solid black; }


.trind-main-header {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #ff6d5e;
  background-color: rgba(48, 74, 188, 0.9); }
  .trind-main-header .trind-main-header-create-icon {
    position: relative;
    float: left;
    top: 15px;
    font-size: 45px;
    margin-left: 20px; }
  .trind-main-header .trind-main-header-image {
    position: relative;
    float: left;
    top: 15px;
    font-size: 45px;
    left: 30%; }
  .trind-main-header .trind-main-header-search-icon {
    position: relative;
    float: right;
    top: 15px;
    font-size: 45px;
    margin-right: 20px;
    cursor: inherit; }

#home-drop-search-input-box {
  margin-top: 70px;
  height: 50px;
  width: 100%;
  font-size: 24px;
  color: gray;
  text-align: center; }

.trind-main-footer {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ff6d5e;
  background-color: rgba(48, 74, 188, 0.9); }
  .trind-main-footer .trind-main-footer-me-icon {
    position: relative;
    float: left;
    top: 15px;
    font-size: 45px;
    margin-left: 20px; }
  .trind-main-footer .trind-main-footer-trind-icon {
    position: relative;
    float: left;
    top: 15px;
    font-size: 60px;
    left: 32.5%;
    font-family: 'Sniglet', cursive;
    transform: rotate(-45deg); }
  .trind-main-footer .trind-main-footer-message-icon {
    position: relative;
    float: right;
    top: 15px;
    font-size: 45px;
    margin-right: 20px; }

a {
  color: inherit;
  text-decoration: none; }

/*# sourceMappingURL=app.css.map */
