@import 'land';
@import 'create';
@import 'home';
@import 'details';

// ==========keep this.....eliminates href highlight==============
a {
  color: inherit;
  text-decoration: none;
}

.trind-default-background {
background-color: rgba(49, 54, 63, 0.7);
// position: absolute;
}
