.trind-main-header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  // color: rgb(216, 51, 56);
  // background-color: rgba(75, 35, 126, 0.9);
  color: white;
  background-color: rgba(164, 219, 216, 1);
  // background-color: rgba(48, 74, 188, 1);

      .trind-main-header-create-icon {
        position: relative;
        float: left;
        top: 15px;
        font-size: 45px;
        margin-left: 20px;
      }

      .trind-main-header-image {
        position: relative;
        float: left;
        top: 15px;
        font-size: 45px;
        left: 40.5%;
      }

      .trind-main-header-search-icon {
        position: relative;
        float: right;
        top: 15px;
        font-size: 45px;
        margin-right: 20px;
        cursor: inherit;
      }
}

#home-drop-search-input-box {
  position: fixed;
  height: 50px;
  width: 100%;
  font-size: 24px;
  color: gray;
  text-align: center;
  z-index: 90;
}

// ================Top header ends=============




// ==================== footer begins ==================

.trind-main-footer {
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  // color: rgb(216, 51, 56);
  // background-color: rgba(75, 35, 126, 0.9);
  color: white;
  background-color: rgba(164, 219, 216, 1);
  // background-color: rgba(44, 50, 60, 1);
      .trind-main-footer-me-icon {
        position: relative;
        float: left;
        top: 15px;
        font-size: 45px;
        margin-left: 20px;
      }

      .trind-main-footer-trind-icon {
        color: rgb(255, 109, 94);
        position: relative;
        float: left;
        top: 15px;
        font-size: 60px;
        left: 40.5%;
        font-family: 'Sniglet', cursive;
        transform: rotate(-45deg);
      }

      .trind-main-footer-message-icon {
        position: relative;
        float: right;
        top: 15px;
        font-size: 45px;
        margin-right: 20px;
      }
}
